/* skinExt.css */


.XFormCase, .SmallRadioGrouperLabel, .GrouperLabel, .RadioGrouperLabel {
    background:@viewC@;
}
 
.homeGroupHeader {
    background-color:@AppC@;
}

.homeGroupBody {
    border:1px solid #DCDCDC;
}

.DwtTreeItemLevel1ChildDiv {
    background-color:transparent;
}

.DwtTreeItemLevel1ChildDiv > DIV {
    margin-top:8px;

}

/*  -- Navigator -- */

.OverviewPanel {
    background-color:white;
}

.OverviewTreePanel {
    background-color:white;
    border:solid #AAA;
    border-width:0 1px;
}

.ZaCtrAppTreeHeader .DwtLinkButtonTable {
    cursor:pointer;
}
/*
.ZaCtrAppTreeHeader .DwtLinkButtonTable {
    height:12px;
    margin-top:5px;
}

.ZaCtrAppTreeHeader  .DwtLinkButtonTable .ZWidgetTitle {
    background-color:white;
    height:12px;
    text-align:center;
    border-top:1px solid black;
    border-bottom:1px solid black;
    border-right:1px solid black;
}

.ZaCtrAppTreeHeader  .DwtLinkButtonTable .ZDropDown {
    border:1px solid;
    background-color:white;
    height:12px;
    @roundCorners(0 5px 5px 0)@
}
 */

.ZaCtrAppTreeHeader {
    padding:1px 5px 0;
    border:solid #AAA;
    border-width:1px 1px 0;
}

.AdminTreeItem,
.AdminTreeItem-selected, 
.AdminTreeItem-selected-focused, 
.AdminTreeItem-actioned {
    padding-left:18px;
}

.AdminTreeItem-selected, 
.AdminTreeItem-selected-focused  {
    background-color:#B5D0F1 !important;
}

.AdminTreeItem-selected .AdminTreeItem-Text,
.AdminTreeItem-selected-focused .AdminTreeItem-Text {
    color:black;
}

.AdminTreeItem-actioned {
    @TreeItem@
    @RightClickBg@
}

.rootOverviewHeader, 
.rootOverviewHeader-selected, 
.rootOverviewHeader-selected-focused {
    background-color:#3A537F;
    padding:2px 0 3px 5px;
}

.homeRootOverviewHeader, 
.homeRootOverviewHeader-selected, 
.homeRootOverviewHeader-selected-focused {
    background-color:#B5D0F1;
    padding:2px 0 3px 5px;
}

.AdminTreeItem-Count {
    background-color:#708090;
    color:white;
    padding-right:3px;
    text-align:right;
    width:20px;
    @roundCorners(4px)@
}

.rootOverviewHeader-Text {
    color:white;
    padding-left:5px;
}

.homeRootOverviewHeader-Text {
    color:black;
    padding-left:5px;
}

.AdminTreeItem-Text,
.AdminHomeTreeItem-Text {
    padding-left:5px;
}

.AdminHomeTreeItem {
    cursor:pointer;
    height:18px;
    padding-left:5px;
}

/* -- view xform -- */

/*  view xform - header */
div.ZmSelectedHeaderBg {
    background-color:white !important;
}

/* view xform - body */

.gridGroupHeader {
    background-color:#E7E9EA;
    border:#AAA solid;
    border-width:1px 1px 0;
    display:table-cell;
    height:24px;
    vertical-align:middle;
}

.gridGroupBodyLabel {
    background-color:#E4EFF5 !important;     /* transparent color*/
    padding-left:10px;
    text-align:left;
}

/* -- Task panel -- */

.TaskHeaderPanel {
    direction:rtl;
}

.ImgCollapseRight, .ImgCollapseLeft {
    cursor:pointer;
    margin:3px 2px 2px
}

.ZaTaskTabView .DwtListView-ColHeader TD {
    font-weight:bold;
}

.ZaTaskTitleNameHeader {
    padding:5px 0;
}

.ZaTaskTitleNameHeader TD {
    font-weight:bold;
}

.ZaTaskListContent {
    height:126px;
}

.ZaTaskTabView .XFormCase {
    background-color:#DDD;
}
/* -- Search panel -- */

.SearchPanel {
    background-color:@viewC@;
    @roundCorners(5px)@
}

.SearchToolBar {
    border:1px solid white;
    background-color:@viewC@;
    top:0;
    @roundCorners(5px)@
}

.SearchTBSearchField .oselect, .oselect_check {
    background-color:white;
    border:none;
}

.SearchTBSearchField .dynselect_display {
    border-color:white;
}

.SearchTBSearchField .ZButtonBorder  {
    border:none;
}
/*
.ZaSearchFieldButton ZWidgetTable ZButtonTable ZButtonBorder .zwidget, .ZaSearchFieldButton ZWidgetTable ZButtonTable ZButtonBorder .zwidget * {
    background-color:white;
}
*/

.SearchTBSearchField .zwidget,.SearchTBSearchField  .zwidget * {
    background-color:white;
}

/* -- Dialog -- */

/* new account dialog */

.AdminOutputTab {
    min-height:18px;
    padding:3px 15px 2px;
}

.AdminOutputTabSelect {
    background-color:#4682B4;
    color:white;
    min-height:18px;
    padding:3px 15px 2px;
    @roundCorners(4px)@
}

.WindowOuterContainer {
    background-color:#EAEAEA;
    border:1px solid;
    padding:1px;
    @roundCorners(5px)@
}

.WindowInnerContainer {
    background-color:#DADADA;
    border:0;
    padding:0;
}

.step_container {
    background-color:#E4EFF6;
    border:0;
    color:#666;
    font:Arial bold 16pt;
    padding:5px;
}

.DwtDialogHeader {
    background-color:#DFE1E5;
}

.DwtDialogTitle {
    color:#333;
    font-family:Arial;
    font-size:12pt;
    font-weight:bold;
    height:27px;
    vertical-align:middle;
}

.DwtDialogMinIcon {

}

.DwtDialogBody {
    background-color:#FCFCFC;
}

.DwtDialogButtonBar {
    height:40px;
    background-color:#DADFE5;
}

.DwtDialogButtonBar .ZButtonBorder {
    background-color:#FEFEFE;
    border:1px solid #949494;
    @roundCorners(3px)@
}

.DwtDialogButtonBar .ZButtonTable .ZWidgetTitle {
    color:#333333;
    font:Arial 12px normal;
    @roundCorners(3px)@
}

.DwtDialogButtonBar .ZDisabled .ZButtonTable .ZWidgetTitle {
    border:1px solid #949494;
    color:#999;
    font:Arial 12px normal;
    @roundCorners(3px)@
}

.DwtDialogButtonBar .ZHover .ZButtonBorder {
    background-color:#C7E9FF;
    border:1px solid #949494;
    font:Arial 12px normal;
    @roundCorners(3px)@
}

.horizSep {
    border-bottom:1px solid #E0E0E0;
    margin:0;
}

.VeilOverlay {
    background-color:black;
    @opacity(35)@;
}

.ZaToolBar {
    display:none;
}

.ZaHomeWarningPanel {
    background-color:#FFC;
    border-bottom:1px solid #EFE69B;
    padding:12px;
}

.ZaHomeWarnginItem {
    padding:1px 0 2px;
}

.ZaLinkedItem {
    color:#369;
    cursor:pointer;
}

.ZaHomeInfoTitle {
    color:#86A1B6;
    font-size:16pt;
    font-weight:bold;
    margin-bottom:5px;
}

.ZaHomeInfoPanel {
    padding:12px;
}

.ZaHomeTabView .xform_label {
    text-align:left;
}

.ZaHomeSetupPanelContainer {
    padding:12px;
}

.ZaHomeSetupPanel{
    background-color:#F3F7FB;
    border:1px solid #E7ECF2;
    @roundCorners(10px)@
}

.ZaHomeSetupPanelContent {
    padding:12px;
}

.ZaHomeSetupTitle {
    color:#86A1B6;
    font-size:16pt;
    font-weight:bold;
    padding-bottom:8px;
}

.ZaHomeLinkItemLabel {
    color:#86A1B6;
}

.NoResults {
    @FontFamily-default@
}

.ZaCurrentAppBar .ZDisabled .ZToolbarButtonTable .ZWidgetTitle {
    color:#747474;
}

.ZaSearchOptionDialog .ZaSearchOptionOverview {
    padding:4px;
}
.ZaSearchOptionDialog {
    border:1px solid black;
}

#IFDEF MSIE
.DwtDialog .WindowOuterContainer TABLE {
    border-collapse:collapse;
}
#ENDIF

.addrBubble {
    background-color:#EEE;
    border:1px solid #999;
    color:black;
    display:inline-block;
    margin-bottom:2px;
    margin-left:3px;
    padding:1px 3px;
    @roundCorners(4px)@;
}
