.XFormCase, .SmallRadioGrouperLabel, .GrouperLabel, .RadioGrouperLabel {
    background: @viewC@;
}

.homeGroupHeader {
    background-color:@AppC@;
}

.homeGroupBody {
    border: 1px solid #dcdcdc;
}

.DwtTreeItemLevel1ChildDiv {
    background-color:@PanelColor@;
}

/*  -- Navigator -- */

.ZaCtrAppTreeHeader .DwtLinkButtonTable {
    height:12px;
    margin-top:5px;
}

.ZaCtrAppTreeHeader  .DwtLinkButtonTable .ZWidgetTitle {
    background-color:white;
    height:12px;
    text-align:center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.ZaCtrAppTreeHeader  .DwtLinkButtonTable .ZDropDown {
    border: 1px solid;
    background-color:white;
    height:12px;
    @trRadius@:5px;
    @brRadius@:5px;
}

.AdminTreeItem {
    padding-left:18px;
}

.AdminTreeItem-selected, .AdminTreeItem-selected-focused  {
    padding-left:18px;
    background-color:#87cefa !important;
}

.rootOverviewHeader {
    padding-left:5px;
    padding-top:5px;
}

.AdminTreeItem-Count {
    background-color:#708090;
    width:20px;
    text-align:right;
    color:white;
    padding-right:3px;
    @tlRadius@:4px;
    @trRadius@:4px;
    @blRadius@:4px;
    @brRadius@:4px;
}

.rootOverviewHeader-Text {
    padding-left:5px;
}

.AdminTreeItem-Text {
    padding-left:5px;
}

/* -- view xform -- */

/*  view xform - header */
div.ZmSelectedHeaderBg {
    background-color: #ffffff !important;
}

/* veiw xform - body */


.gridGroupHeader {
    background-color:#d3d3d3;
    height:24px;
    display: table-cell;
    vertical-align: middle;
}

.gridGroupBodyLabel {
    text-align:left;
    background-color:#DEE5F1 !important;     /* transprant color*/
    padding-left:10px;
}

/* list view */
.DwtListView-Rows {
   background-color:white;
}

/* -- Task panel -- */

.TaskHeaderPanel {
/*
    background-color:@PanelColor@;
    @tlRadius@:4px;
    @trRadius@:4px;
*/
    text-align:center;
    padding-left:5px;
    padding-top:10px;
}

.ZaTaskTabView {
    background-color:white;
}
/* -- Search panel -- */

.SearchPanel {
    background-color:@viewC@;
    @tlRadius@:5px;
    @trRadius@:5px;
    @blRadius@:5px;
    @brRadius@:5px;
}

.SearchTBSearchField .oselect, .oselect_check {
    border:none;
    background-color:white;
}

.SearchTBSearchField .dynselect_display {
    border-color:white;
}


.SearchTBSearchField .ZButtonBorder  {
    border:none;
}
/*
.ZaSearchFieldButton ZWidgetTable ZButtonTable ZButtonBorder .zwidget, .ZaSearchFieldButton ZWidgetTable ZButtonTable ZButtonBorder .zwidget * {
    background-color:white;
}
*/

.SearchTBSearchField .zwidget,.SearchTBSearchField  .zwidget * {
    background-color:white;
}

/* -- Dialog -- */

/* new account dialog */
.AdminOutputTabSelect {
    background-color:#4682b4;
    color: white;
    @tlRadius@:4px;
    @trRadius@:4px;
    @blRadius@:4px;
    @brRadius@:4px;
}

.ZaNewAccountSwitch {
    padding-left:5px;
}

.WindowOuterContainer {
    background-color: #EAEAEA;
    border: 0px;
    padding: 1px;
}

.step_container, .WindowInnerContainer {
    background-color: #DADADA;
    border: 0px;
    padding: 0px;
}

.DwtDialogTitle {
    color: black;
    width: 100%;
}

.DwtDialogBody {
    background-color: #FCFCFC;
}

.horizSep {
    border-bottom: 2px solid @SelC@;
    margin: 0px;
}