.ZimTB-Tag-Color-0
{
	list-style-image: url("tagorange.gif");
}

.ZimTB-Tag-Color-1
{
	list-style-image: url("tagblue.gif");
}

.ZimTB-Tag-Color-2
{
	list-style-image: url("tagcyan.gif");
}

.ZimTB-Tag-Color-3
{
	list-style-image: url("taggreen.gif");
}

.ZimTB-Tag-Color-4
{
	list-style-image: url("tagpurple.gif");
}

.ZimTB-Tag-Color-5
{
	list-style-image: url("tagred.gif");
}

.ZimTB-Tag-Color-6
{
	list-style-image: url("tagyellow.gif");
}