.Imgattachmail-panelIcon {
    background: url("attachmail.gif") no-repeat 0 0;
    width: 16px;
    height: 16px;
    overflow: hidden;
}

.AttachMailTabBox {
    background-color: #FDFCFA;
    border-right:1px solid #E0E0E0;
}

.AttachMailRowDiv {
    height: 90px;
    border-style: solid;
    border-width: 1px 0;
    cursor: pointer;
    border-color: #E0E0E0;
}

.AttachMailSubject {
    font-weight: bold;
    font-size: 13px;
    color: #2B2A2B;
}

.AttachMailFrom {
    font-weight: bold;
    font-size: 11px;
    color: #2B2A2B;
}

.AttachMailFrag {
    overflow: hidden;
    color: gray;
}
