<template id='Tooltip'>
	<table cellpadding=2 cellspacing=0 border=0>
		<tr valign='center'>
			<td>
				<$= AjxImg.getImageHtml("Telephone") $>
			</td>
			<td>
				<b>
					<div style='white-space:nowrap'>${callStr}</div>
				</b>
			</td>
			<td>
				<div style='white-space:nowrap'><$= AjxStringUtil.htmlEncode(data.contentObjText) $></div>
			</td>
		</tr>
	</table>
</template>
