<template id='OAuthDialogView'>
	<DIV class='Oauth_yellow'>
		${logoutfirst}<br/><br/>
		<b>${stepsToAddAccount}</b><br/>
		${step1}<div id='Oauth_goToOauthPage'> </div><br/>
		${step2}<br/>
		${step3}<br/>
		${step4}<br/>
		${step5}<br/>
		<B>${step6}<input id='Oauth_pin_field'  type='text'/></B><br/>
		${step7}
	</DIV>
</template>