/* Offline-specific styles */
BODY {
	background-color: #C7C7C7;
	margin: 0px;
	padding: 40px 0px 0px 0px;
}

BODY, P, TH, TD, DIV, SELECT, TEXTAREA, BUTTON {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

FORM {
	 margin: 0px;
}

a:link, a:active, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

INPUT[type=text],
INPUT[type=password] {
	border: 1px inset #CCCCCC;
}

SELECT {
	padding: 1px;
	border: 1px inset #CCCCCC;
}

.ZAccount {
	width: 80%;
}

.ZAccountName {
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 4px;
}

.ZAccountInfo {
	font-size: 10px;
	padding-bottom: 2px;
	white-space: nowrap;
}

.ZCheckboxCell {
	text-align: right;
}

.ZCheckboxLabel {
	padding-top: 4px;
}

.ZField,
.ZFieldMedium {
	width: 350px;
	padding: 4px;
}

.ZFieldLabel {
	font-weight: bold;
	padding-top: 0px !important;
}

.ZFieldError,
.ZFieldInfo,
.ZFieldLabel,
.ZFieldLabelLeft,
.ZFieldSubLabel {
	padding: 0px 4px;
	text-align: right;
	white-space: nowrap;
}

.ZFieldError {
	color: red;
}

.ZFieldInfo {
	white-space: nowrap;
}

.ZFieldLabelLeft {
	text-align: left;
}

.ZFieldMedium {
	width: 200px;
}

.ZFieldSublabel {
	padding-right: 10px;
}

.ZHint {
	color: gray;
	white-space: nowrap;
}

.ZLabel {
	padding: 0px 4px;
	text-align: right;
}

.ZMessageInfo {
	background-color: #fffff1;
	border: 1px solid #d5d6bb;
	margin-bottom: 5px;
	padding: 10px;
	text-align: left;
}

.ZOfflineError {
	color: red;
	font-weight: bold;
}

.ZOfflineNotice {
	color: blue;
	font-weight: bold;
}

.ZPanel {
	border: 2px solid #e9f2fa; 
	border-color: #CCCCCC grey grey #CCCCCC;
	font: 11px Arial, Verdana, san-serif;
	line-height: 20px;
	-moz-border-radius: 8px;
	overflow: visible;
	padding: 0px;
	position: relative;
	text-align: left;
	width: 720px;
	word-spacing: 2px;
}

.ZPanelInfo {
	background-color: #e9f2fa;
	border: 0px;
	-moz-border-radius: 0px 0px 8px 8px;
	padding: 14px 40px 14px 40px;
	text-align: center;
}

.ZPanelLogo {
	background-color: white;
	border: 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	padding: 12px;
	text-align: center;
}

.ZPanelTitle {
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.ZRadioCell {
	padding-top: 2px;
}

.ZSection {
	color: grey;
	font-weight: bold;
	padding: 10px 5px 6px 5px;
}

.ZSeparator {
	background-color: lightgrey;
	border-style: solid;
	border-color: #d4d4d4;
	color: lightgrey;
	height: 2px;
	margin: 5px 0px 5px 0px;
}

.ZSelect,
.ZSelectActive,
.ZSelectSmall,
.ZSelectSmallActive {
	cursor: pointer;
	padding: 2px;
	width: 350px;
}

.ZSelectActive,
.ZSelectSmallActive {
	background-color: #e9f2fa;
}

.ZSelectSmall {
	width: 200px;
}

.ZSyncErrorNotice {
	color: red;
	font-weight: bold;
}

.ZWelcome {
	font-size: 12px;
	font-weight: bold;
}

.ZWelcomeInfo {
	font-size: 11px;
	font-weight: normal;
	padding-bottom: 4px;
	padding-top: 4px;
}

.infoBox {
	background-color: #FFF6BF;
	border: 1px solid #FD0;
	margin: 0 5px 10px 0;
	-moz-border-radius: 10px;
	padding: 10px 10px 10px 10px;
}

.ZBlueButton			{ cursor: pointer; }
.ZBlueButton TABLE		{ border-collapse: collapse; display: inline; }
.ZBlueButton TD 		{ padding: 0px; }
.ZBlueButton .title 		{ font-size: 12px; font-weight: normal; color: black; vertical-align: middle; text-align: center; white-space: nowrap; width: 40px; }
.ZBlueButton .over .title	{ text-decoration: none; color: white}
.zBlueButton .down .title	{ text-decoration: none; color: darkblue; }

.ImgBlueButton_L		{ width: 15px; height: 26px; background: url(/zimbra/desktop/img/ImgBlueButton_L.gif) no-repeat; }
.ImgBlueButton  		{ height: 26px; background: url(/zimbra/desktop/img/ImgBlueButton.repeatx.gif) repeat-x; padding:  0 5 0 5 !important; }
.ImgBlueButton_R		{ width: 15px; height: 26px; background: url(/zimbra/desktop/img/ImgBlueButton_R.gif) no-repeat; }

.ZGreyButton			{ cursor: pointer;  }
.ZGreyButton TABLE		{ border-collapse: collapse; display: inline; }
.ZGreyButton TD 		{ padding: 0px; }
.ZGreyButton .title 		{ font-size: 12px; line-height: 22px; font-weight: normal; color: #34282C; text-align: center; white-space: nowrap; width: 40px; }
.ZGreyButton .over .title 	{ text-decoration: none; color: white; }
.ZGreyButton .down .title 	{ text-decoration: none; color: darkblue; }

.ImgGreyButton_L		{ width: 15px; height: 26px; background: url(/zimbra/desktop/img/ImgBlueButton_L.gif) no-repeat; }
.ImgGreyButton  		{ height: 26px; background: url(/zimbra/desktop/img/ImgBlueButton.repeatx.gif) repeat-x; padding: 0 5 0 5 !important; }
.ImgGreyButton_R		{ width: 15px; height: 26px; background: url(/zimbra/desktop/img/ImgBlueButton_R.gif) no-repeat; }

.ZButton			{ background: lightblue; cursor: pointer; }
.ZButton TABLE			{ border-collapse: collapse; display: inline; }
.ZButton TD 			{ padding: 0px; }
.ZButton .title 		{ background: lightblue; font-size: 12px; font-weight: normal; color: black; -moz-border-radius: 4px; padding: 2px; vertical-align: middle; text-align: center; white-space: nowrap; width: 40px; }
.ZButton .over .title		{ text-decoration: none; color: white}
.zButton .down .title		{ text-decoration: none; color: darkblue; }

