/* Offline-specific styles */
body{margin: 0px; padding: 0px;background-color:#e8dcc1;}

BODY, P, TH, TD, DIV, SELECT, TEXTAREA, BUTTON {
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
}

HR {
	border-width:1px 0px 0px 0px;
	margin:10px 0px;
}

INPUT[type=text],
INPUT[type=password]	{
	height:22px !important;
}
SELECT {
	padding:1px;
	border:1px inset gray;
}

a:link	{
	text-decoration:underline !important;
}

.ZFloatInHead {
	float:right;
	font-size:11px;
	font-weight:normal;
}

.ZHeadTitle {
	font-size:15px;
	font-weight:bold;
}

.ZHeadHint {
	text-align: right;
	font-size: 11px;
	font-weight: normal;
}

.ZWizardPage {

	width:600px;
}

.ZWizardPageBig P {
	font-size:1.2em;
}

.ZOfflineHeader {
	margin-top:15px;
	margin-bottom:5px;
	padding:5px 10px;
	background-color:tan;
	border-bottom:1px solid brown;
}

.ZWizardForm {
	margin-left:20px !important;
}

.ZWizardForm A {
	margin-left:5px;
	padding:1px;
	text-decoration:underline !important;
}

.ZWizardForm TD {
	vertical-align:top;
}
.ZFieldLabel,
.ZFieldError,
.ZFieldLabelLeft {
	padding:4px 4px 0px 4px;
	text-align:right;
	white-space:nowrap;
}
.ZFieldError {
	color:red;
}
.ZFieldLabelLeft {
	text-align:left;
}

.ZRadioCell {
	padding-top:2px;
}

.ZCheckboxCell {
	text-align:right;
}
.ZCheckboxLabel {
	padding-top:4px;
}

.ZHint {
	color:gray;
	white-space:nowrap;
}

.ZOfflineError {
	font-weight:bold;
	color:red;
}

.ZOfflineNotice {
	font-weight:bold;
	color:blue;
}

.ZWizardButtonBar .DwtButton,
.ZWizardButtonBar .DwtButton-focused {
	font-weight:bold;
}

.ZWizardTable {
	width:90%;
	border:1px solid tan;
	border-collapse:collapse;
}

.ZWizardTable TH {
	text-align:left;
	background-color:tan;
}

.ZWizardTable TD {
	border:1px solid tan;
	background-color:antiquewhite;
}

.ZSyncErrorNotice {
	font-weight:bold;
	color:red;
}
.ZWizardPage p{text-align: left;}

.ZWizardPage{display:block;padding:6px;-moz-border-radius:3px;background-color:#d1c6ae;border:2px solid;-moz-border-left-colors:#a29a87 #d1c6ae;-moz-border-top-colors:#a29a87 #d1c6ae;-moz-border-bottom-colors:#686357 #aea591;-moz-border-right-colors:#8b8474 #aea591;background-color:#eee5d1;padding:20px;}
.ZWizardPage BUTTON{height:24px;cursor:pointer;}
.ZWizardPageTitle{position:relative;background-color:#bab09a;left:0;right:0;padding:5px 10px 5px 10px;margin:-20px -20px 10px -20px;font-size:15px;font-weight:bold;}
.noborder {border-width:0px !important;}
.ZWizardButtonBar{margin:10px -20px -20px -20px;padding:5px 10px 5px 10px;background-color:#bab09a;}
.ZWizardButtonRef{font-weight:bold;}
.ZWizardButtonSpacer{width:100%;}
.DwtButton{height:24px;cursor:pointer;background-color:#d1c6ae;border:2px solid;-moz-border-left-colors:#a29a87 #eae0c7;-moz-border-top-colors:#a29a87 #eae0c7;-moz-border-bottom-colors:#746e61 #bab09a;-moz-border-right-colors:#746e61 #bab09a;white-space: nowrap;}
.DwtButton-hover{height:24px;cursor:pointer;background-color:#e8dcc1;border:2px solid;-moz-border-left-colors:#a29a87 #eae0c7;-moz-border-top-colors:#a29a87 #eae0c7;-moz-border-bottom-colors:#746e61 #bab09a;-moz-border-right-colors:#746e61 #bab09a;white-space: nowrap;}
.DwtButton-active{height:24px;cursor:pointer;background-color:#f9f6f0;border:2px solid;-moz-border-left-colors:#a29a87 #746e61;-moz-border-top-colors:#a29a87 #746e61;-moz-border-bottom-colors:#d1c6ae #a29a87;-moz-border-right-colors:#d1c6ae #a29a87;white-space: nowrap;}
.DwtButton-selected{height:24px;cursor:pointer;background-color:#f9f6f0!important;border:2px solid;-moz-border-left-colors:#a29a87 #eae0c7;-moz-border-top-colors:#a29a87 #eae0c7;-moz-border-bottom-colors:#746e61 #bab09a;-moz-border-right-colors:#746e61 #bab09a;white-space: nowrap;}
.DwtButton-disabled{height:24px;cursor:pointer;background-color:transparent;border:1px solid;-moz-border-left-colors:#d1c6ae;-moz-border-top-colors:#d1c6ae;-moz-border-bottom-colors:#d1c6ae;-moz-border-right-colors:#d1c6ae;cursor:default!important;cursor:not-allowed!important;white-space: nowrap;}
.DwtButton-active{height:24px;cursor:pointer;background-color:#d6e0ee;border:2px solid;-moz-border-left-colors:#78869b #b4c6e0;-moz-border-top-colors:#78869b #b4c6e0;-moz-border-bottom-colors:#56606f #8a9ab1;-moz-border-right-colors:#56606f #8a9ab1;white-space: nowrap;}
.DwtButton-focused{height:24px;cursor:pointer;background-color:#fdf8ba;border:2px solid;-moz-border-left-colors:#b1ae82 #fdf9c1;-moz-border-top-colors:#b1ae82 #fdf9c1;-moz-border-bottom-colors:#7f7c5d #cac695;-moz-border-right-colors:#7f7c5d #cac695;white-space: nowrap;}
.DwtButton .Text{text-align:center;color:black;}
.DwtButton-hover .Text{text-align:center;color:black;}
.DwtButton-active .Text{text-align:center;color:black;}
.DwtButton-selected .Text{text-align:center;color:black;}
.DwtButton-disabled .Text{text-align:center;color:#686357;}
.DwtButton-active .Text{text-align:center;color:black;}
.DwtButton-focused .Text{text-align:center;color:black;}
.infoTitle{padding-left:5px;font-weight:bold;border-bottom:1px solid #FD0;margin-bottom:10px;}
.infoBox{margin:0 5px 10px 0;background-color:#FFF6BF;border:1px solid #FD0;-moz-border-radius:10px;padding:10px 10px 10px 10px;}
