/* Offline-specific styles */
BODY {
	background-color: #C7C7C7;
	margin: 0px;
	padding: 40px 0px 0px 0px;
}

BODY, P, TH, TD, DIV, SELECT, TEXTAREA, BUTTON {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

FORM {
	 margin: 0px;
}

a:link, a:active, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

INPUT[type=text],
INPUT[type=password] {
	border: 1px inset #CCCCCC;
}

SELECT {
	padding: 1px;
	border: 1px inset #CCCCCC;
}

.ZAccount {
	width: 80%;
}

.ZAccountName {
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 4px;
}

.ZAccountInfo {
	font-size: 10px;
	padding-bottom: 2px;
	white-space: nowrap;
}

.ZCheckbox {
	text-align: right;
}

.ZCheckboxLabel {
	padding-top: 4px;
}

.ZField {
	padding-left: 3px;
	width: 350px;
}

.ZFieldError,
.ZFieldInfo,
.ZFieldLabel,
.ZFieldLabelLeft,
.ZFieldSubLabel {
	padding: 0px 4px;
	text-align: right;
	white-space: nowrap;
}

.ZFieldError {
	color: red;
}

.ZFieldLabel,
.ZFieldLabelLeft {
	font-weight: bold;
	padding-top: 0px !important;
}

.ZFieldLabelLeft {
	text-align: left;
}

.ZFieldMedium {
	width: 200px;
}

.ZFieldSublabel {
	padding-right: 10px;
}

.ZHint {
	color: gray;
	white-space: nowrap;
}

.ZMessageInfo {
	background-color: #fffff1;
	border: 1px solid #d5d6bb;
	margin-bottom: 5px;
	padding: 10px;
	text-align: left;
}

.ZOfflineError {
	color: red;
	font-weight: bold;
}

.ZOfflineNotice {
	color: blue;
	font-weight: bold;
}

.ZPanel {
	border: 2px solid #e9f2fa; 
	border-color: #CCCCCC #999999 #999999 #CCCCCC;
	font: 11px Arial, Verdana, san-serif;
	line-height: 20px;
	-moz-border-radius: 8px;
	overflow: visible;
	padding: 0px;
	position: relative;
	text-align: left;
	width: 720px;
	word-spacing: 2px;
}

.ZPanelInfo {
	background-color: #e9f2fa;
	border: 0px;
	-moz-border-radius: 0px 0px 8px 8px;
	padding: 14px 40px 20px 40px;
	text-align: center;
}

.ZPanelLogo {
	background-color: white;
	border: 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	padding: 12px;
	text-align: center;
}

.ZPanelTitle {
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.ZRadio {
	padding-top: 2px;
}

.ZSection {
	color: #999999;
	font-weight: bold;
	padding: 10px 5px 6px 5px;
}

.ZSeparator {
	background-color: #BFBFBF;
	border-style: solid;
	border-width: 0px;
	color: #BFBFBF;
	height: 2px;
	margin: 5px 0px 5px 0px;
	padding: 0px;
}

.ZSelect,
.ZSelectActive,
.ZSelectSmall,
.ZSelectSmallActive {
	cursor: pointer;
	padding: 2px;
	width: 350px;
}

.ZSelectActive,
.ZSelectSmallActive {
	background-color: #e9f2fa;
}

.ZSelectSmall {
	width: 200px;
}

.ZSyncErrorNotice {
	color: red;
	font-weight: bold;
}

.ZWelcome {
	font-size: 12px;
	font-weight: bold;
}

.ZWelcomeInfo {
	font-size: 11px;
	font-weight: normal;
	padding-bottom: 4px;
	padding-top: 4px;
}

.ZButton {
	cursor: pointer;
	text-decoration: none;
}

.ZButton TABLE {
	background-color: #AACEEE;
	border: 2px solid #e9f2fa;
	border-color: #CCCCCC #999999 #999999 #CCCCCC;
	border-collapse: collapse;
	display: inline;
	-moz-border-radius: 8px;
	overflow: visible;
	padding: 3px 0px 0px 0px;
	position: relative;
}

.ZButton .title {
	color: #333333;
	font-size: 11px;
	font-weight: bold;
	height: 24px;
	padding: 0px 8px 0px 8px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	width: 80px;
}

.ZButton .over .title {
	color: white;
}

.ZButton .down {
	border: 2px solid #e9f2fa;
	border-color: #999999 #CCCCCC #CCCCCC #999999;
}

.ZButton .down .title {
	color: white;
}

