[mysqld]

basedir      = /opt/zimbra/logger/mysql
datadir      = /opt/zimbra/logger/db/data
socket       = /opt/zimbra/logger/db/mysql.sock
pid-file     = /opt/zimbra/logger/db/mysql.pid
bind-address = localhost
port         = 7307
user         = zimbra

external-locking

log-slow-queries = /opt/zimbra/log/logger_myslow.log
long-query-time  = 1
log-long-format
log-queries-not-using-indexes

thread_cache_size = 10
max_connections   = 10

# We do a lot of writes, query cache turns out to be not useful.
query_cache_type = 0

[mysqld_safe]

err-log = /opt/zimbra/log/logger_mysqld.log

