
/*CSS for Snapfish Dialogue*/

.SnapLink a.hover a.link a.visited {
	text-decoration: underline;
}

.SnapContainerNoAccount{			   
	padding: 5px;
	overflow: auto;
	height:240px;
	background: #FFFFFF url("photos.png") right bottom no-repeat;*/
}

.SnapContainer{			   
	padding: 5px;
	overflow: auto;
	height:180px;
}

.allAlbum{
	background: #FFFFFF url("snapfish-allalbumcover.gif") center center no-repeat;
}

.allAlbum div{ 
	margin-left: 54px!important;
}

.allAlbum div a{
	font-weight: bold;
}

.albumCover{
	/*background: #FFFFFF url("snapfish-albumcover.gif") center center no-repeat;*/
}

.SnapPhoto{
	width: 129px;
	height: 132px;
	float: left;
	margin: 0 20px 20px 0;
}

.SnapPhoto div{
	margin: 10px 0px 3px 17px;
}

.SnapPhoto a{
	font: 11px verdana, arial, helvetica, sans-serif;
}

.SnapAlbumName{
	font: bold 14px verdana, arial, sans-serif;		
}

.SnapInfoNoAccountTitle{
	color: #666633;
	font: bold 14px verdana, arial, sans-serif;		
	line-height: 25px;
	background: #FFFFFF;
}

.SnapInfoTitle{
	font: bold 14px verdana, arial, sans-serif;		
	line-height: 25px;
	background: #FFFFFF;
}

.SnapInfoTextHeader{ 
	font: 11px verdana, arial, sans-serif;		
	line-height: 25px;
	background: #EEEEEE;
}	

.SnapInfoTextBoldHeader{ 
	color: #666666;
	font: bold 14px verdana, arial, sans-serif;		
	line-height: 25px;
}	

.SnapInfoTextBold{ 
	color: #666666;
	font: bold 11px verdana, arial, sans-serif;		
}	

.SnapInfoText{ 
	font: 11px verdana, arial, sans-serif;		
	color: #666666;
}	

.SnapInfo{ 
	font: 11px verdana, arial, sans-serif;		
	color: #666666;
	line-height: 25px;
}	

.SnapFish{
	/*background: #FFFFFF;*/
}

.SnapHead{
	padding: 5px;
	vertical-align: bottom;
	border-bottom: 1px solid #CCCCCC;
}

.SnapSelectAll{
    float: right; margin-top: -40px; font: 11px verdana, arial, sans-serif;
}

.SnapFooter{
	font: 11px verdana, arial, sans-serif;		
	color: #666666;
	line-height: 25px;
	text-align: center;
}

/*ICON AND THUMNAIL CSS*/
.ImgSnapPanelIcon {
  background: url("snapfish.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.ImgSnapfish-image {
	width: 50px;
	height: 50px;
	overflow: hidden;
	align: center;
}

.Snapfish-thumbnail {
	align: middle;
	height:100;
	width: 100;
	overflow: hidden;
}

h3.Snapfish-label {
  font-size: 14px;
  margin: 0.5em 0;
  border-bottom: 1px solid #777;
}

h4.Snapfish-label {
  text-align: center;
  font-size: 10px;
  margin: 0.2em 0;
  border-bottom: 2px solid #777;
}

.Snapfish-margin	{
	margin: 0.5em 0;
	border-bottom: 1px solid #777;
}
.Snapfish-icon-right {
  background: url("sforce.gif") no-repeat 100% 50%;
}
