/*Created with Adobe RoboHelp.*/
/*Created with Adobe RoboHelp.*/
/*Created with Adobe RoboHelp.*/
BODY {
	font-family: Arial;
	background-color: #ffffff;
}
H1 {
	font-weight: bold;
	color: #000080;
	font-size: 14pt;
}
LI.H1 {
	font-weight: bold;
	color: #000080;
	font-size: 14pt;
}

H2 {
	font-weight: bold;
	color: #000080;
	font-size: 12pt;
}
LI.H2 {
	font-weight: bold;
	color: #000080;
	font-size: 12pt;
}

H3 {
	font-weight: bold;
	color: #000080;
	font-size: 11pt;
}
LI.H3 {
	font-weight: bold;
	color: #000080;
	font-size: 11pt;
}

H4 {
	font-weight: bold;
	font-size: 11pt;
	margin-bottom: 6.5pt;
}
LI.H4 {
	font-weight: bold;
	font-size: 11pt;
}

H5 {
	font-weight: bold;
	font-size: 10.0pt;
}
LI.H5 {
	font-weight: bold;
	font-size: 10.0pt;
}

H6 {
	font-weight: bold;
	background-color: Transparent;
	font-size: 10pt;
	margin-bottom: 6pt;
	color: #000080;
	margin-top: 8pt;
}
LI.H6 {
	font-weight: bold;
	font-size: 10pt;
	color: #000080;
}

P {
	margin-top: 0pt;
	font-size: 10pt;
	margin-bottom: 6pt;
	border-left-style: None;
	border-right-style: None;
	border-top-style: None;
	border-bottom-style: None;
}
LI.P {
	font-size: 10pt;
}

A.expandspot {
	cursor: hand;
	font-weight: bold;
	font-style: italic;
	color: #008080;
	text-decoration: none;
}
SPAN.expandtext {
	font-style: italic;
	font-weight: normal;
	font-size: 11pt;
	color: #000000;
}
A.dropspot {
	cursor: hand;
	color: #008080;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
}
A.glossterm {
	color: #800000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}
SPAN.glosstext {
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}
OL,
UL {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 11pt;
	font-family: Arial, sans-serif;
}
P.Reviewstatements {
	color: #ff0000;
	x-next-class: ;
	x-next-type: P;
}
LI.P-Reviewstatements {
	color: #ff0000;
}

SPAN.REVIEWFOLLOWUP {
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
}
SPAN.Important {
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	color: #000080;
}
SPAN.fieldnames {
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
}
SPAN.code {
	font-weight: bold;
	font-style: normal;
	font-family: "Times New Roman", serif;
	font-size: 12pt;
}
SPAN.attribute {
	font-weight: bold;
	font-style: normal;
}
P.note {
	list-style: url(rd_blue_right.jpg);
	background-color: #dbdbdb;
}
LI.P-note {
	list-style: url(rd_blue_right.jpg);
}

