.broadsoft_sectionDiv{
background:#FFFFFF;
border-bottom:1px solid #A7A194;border-right:1px solid #A7A194;
}
.broadsoft_HdrDiv{
background:#FFFFCC;
border-bottom:1px solid #A7A194;border-right:1px solid #A7A194;
font-size:200%;
}

.broadsoft_detailsDiv{
background:#FFFFCC;
border-bottom:1px solid #A7A194;border-right:1px solid #A7A194;
font-size:150%;
}
.broadsoft_callLogsDetailsDiv{
background:#FFFFCC;
border-bottom:1px solid #A7A194;border-right:1px solid #A7A194;
font-size:150%;
}

.broadsoft_hidden {
display:none
}
.broadsoft_shown {
display:block
}