#ZMTB-MessageComposer-Title
{
	font-size:20px;
	font-color:#CCCCCC;
}

#ZMTB-MessageComposer-Header
{
	background-color:#333333;
	color:#CCCCCC;
	font-weight:bold;
}

#ZMTB-MessageComposer-FormBox
{
	padding:5px;
	-moz-border-radius:5px;
	background-color:#CCCCCC;
}

#ZMTB-MessageComposer-AttachmentsLabel
{
	font-size:20px;
	padding:10px;
	color:#CCCCCC;
}

#ZMTB-MessageComposer-AttachBox
{
 	-moz-appearance: textfield;
 	margin: 4px 4px;
	height:70px;
	overflow-y:scroll;
	width:100px;
}

#ZMTB-MessageComposer-AttachBox-inner
{
	float:left;
}

#ZMTB-MessageComposer-AttachBox.ZMTB-DragOver
{
	border:solid 3px #333333;
	-moz-appearance:none;
	background-color:-moz-field;
}

#ZMTB-MessageComposer-ErrorLabel
{
	margin-top:10px;
	font-size:12px;
	color:red;
}

#ZMTB-MessageComposer-Container
{
	background-color:#333333;
	padding:10px;
	padding-top:0px;
	margin:0px;
	border:0px;
}

#ZMTB-MessageComposer-Container textbox
{
	margin-top:4px;
	margin-bottom:4px;
}
