#ZMTB-Appointments
{
	max-height:96px;
	overflow:hidden;
}

.ZMTB-Appt-Box
{
	height:30px;
	overflow:hidden;
	position:relative;
	bottom:0px;
	background-image:url(chrome://zimbratb/skin/apptbar.png);
	background-repeat:repeat-x;
	background-position:center;
	border-top: 1px solid #ffe970;
	border-bottom: 1px solid #bf8a01;
	vertical-align:bottom;
}

.ZMTB-Appt-Button
{
	-moz-appearance:none; 
	-moz-border-radius:10px;
	border:1px solid #666666;
	background-image:url(chrome://zimbratb/skin/buttonback.png);
	background-repeat:repeat-x;
	background-position:center;
	height:18px;
	margin:6px;
	min-height: 18px;
}

.ZMTB-Appt-Message
{
	font-weight:bold;
	font-size:10px;
	margin-left:10px;
	padding-top:5px;
}

.ZMTB-Appt-Image
{
	margin-left:10px;	
	background-image:url(chrome://zimbratb/skin/calendar.gif);
	background-position:center;
	background-repeat:no-repeat;
	width:16px;
	height:16px;
}

#ZimTB-MainMenu {
    list-style-image: url("chrome://zimbratb/skin/main.png");
}

#ZimTB-MainMenu .toolbarbutton-text
{
	width:0px;
	margin:0px;
	padding:0px;
}

#ZimTB-Combined-Button {
    list-style-image: url("chrome://zimbratb/skin/combined.png");
}

#ZimTB-Mail-Button
{
    -moz-box-orient: horizontal;
	list-style-image: url("chrome://zimbratb/skin/mail.gif");
}

#ZimTB-Combined-Image {
    list-style-image: url("chrome://zimbratb/skin/images.png");
}

#ZMTB-Notifications
{
/*	background-color:green;*/
}

.ZMTB-ContextAction
{
	list-style-image: url("chrome://zimbratb/skin/zimbra_z_small.png");
}

.ZMTB-ActionBar-Title
{
	background-color:#333333;
	color:#CCCCCC;
	font-weight:bold;
	padding-left:10px;
}

.ZimTB-Mail-Folder
{
	list-style-image: url("chrome://zimbratb/skin/folder.gif");
}

.ZimTB-Mail-CloseEnv
{
	list-style-image: url("chrome://zimbratb/skin/closemail.gif");
}

.ZimTB-Inbox-Folder, .ZimTB-Inbox-Folder:hover
{
	list-style-image: url("chrome://zimbratb/skin/inbox.gif");
	
}

.ZimTB-Drafts-Folder
{
	list-style-image: url("chrome://zimbratb/skin/drafts.gif");
}

.ZimTB-Sent-Folder
{
	list-style-image: url("chrome://zimbratb/skin/sent.gif");
}

.ZimTB-Trash-Folder
{
	list-style-image: url("chrome://zimbratb/skin/trash.gif");
}

.ZimTB-Junk-Folder
{
	list-style-image: url("chrome://zimbratb/skin/junk.gif");
}

.ZimTB-RSS-Folder
{
	list-style-image: url("chrome://zimbratb/skin/rss.gif") ! important;

}

#ZimTB-NewEmail
{
	list-style-image: url("chrome://zimbratb/skin/newmail.gif");
}

#ZimTB-NewFolder
{
	-moz-box-orient: horizontal;
	list-style-image: url("chrome://zimbratb/skin/newfolder.gif");
}
#ZimTB-EditFolders
{
	list-style-image: url("chrome://zimbratb/skin/folder.gif");
}

.ZimTB-Saved-Search
{
	list-style-image: url("chrome://zimbratb/skin/newsaved.gif");
}

#ZimTB-Refresh-Button
{
	list-style-image: url("chrome://zimbratb/skin/refresh.gif");
	-moz-margin-end:0px;
/*	background-image: url("chrome://zimbratb/skin/refresh.gif");
	background-repeat:no-repeat;
	background-position:center; */
}

#ZimTB-Refresh-Button .toolbarbutton-text
{
	width:0px;
	margin:0px;
	padding:0px;
}

#ZimTB-Refresh-Button .toolbarbutton-icon
{
	margin:0px;
	padding:0px;
}

#ZimTB-NewSavedSearch
{
	list-style-image: url("chrome://zimbratb/skin/newsaved.gif");
}

#ZimTB-NewContact
{
	list-style-image: url("chrome://zimbratb/skin/newcontact.gif");
}

#ZimTB-NewContactGroup
{
	list-style-image: url("chrome://zimbratb/skin/newcontactgroup.gif");
}

#ZimTB-NewAddressBook
{
	list-style-image: url("chrome://zimbratb/skin/addressbook.gif");
}

#ZimTB-LinkToAddressBook
{
	list-style-image: url("chrome://zimbratb/skin/addressbooklink.gif");
}

#ZimTB-ViewContacts
{
	list-style-image: url("chrome://zimbratb/skin/contacts.gif");
}

#ZimTB-NewAppointment
{
	list-style-image: url("chrome://zimbratb/skin/newappointment.gif");
}

#ZimTB-NewCalendar
{
	list-style-image: url("chrome://zimbratb/skin/newappointment.gif");
}

#ZimTB-RemoteCalendar
{
	list-style-image: url("chrome://zimbratb/skin/newappointment.gif");
}

#ZimTB-SharedCalendar
{
	list-style-image: url("chrome://zimbratb/skin/newappointment.gif");
}

#ZimTB-ViewCalendars
{
	list-style-image: url("chrome://zimbratb/skin/calendar.gif");
}

#ZimTB-ViewTasks
{
	list-style-image: url("chrome://zimbratb/skin/tasks.gif");
}

#ZimTB-EditTasks
{
	list-style-image: url("chrome://zimbratb/skin/tasks.gif");
}

#ZimTB-NewTask
{
	list-style-image: url("chrome://zimbratb/skin/newtask.gif");
}

#ZimTB-NewTaskList
{
	list-style-image: url("chrome://zimbratb/skin/newtasklist.gif");
}

#ZimTB-NewRemTaskList
{
	list-style-image: url("chrome://zimbratb/skin/newtasklist.gif");
}

#ZimTB-SharedTaskList
{
	list-style-image: url("chrome://zimbratb/skin/newtasklist.gif");
}

#ZimTB-NewContact
{
	list-style-image: url("chrome://zimbratb/skin/newcontact.gif");
}

#ZimTB-NewRSS
{
	list-style-image: url("chrome://zimbratb/skin/rss.gif");
}

#ZimTB-Calendar-Button
{
	-moz-box-orient: horizontal;
	list-style-image: url("chrome://zimbratb/skin/calendar.gif");
}
#ZimTB-Contacts-Button
{
	-moz-box-orient: horizontal;
	list-style-image: url("chrome://zimbratb/skin/contacts.gif");
}
#ZimTB-Tasks-Button
{
	-moz-box-orient: horizontal;
	list-style-image: url("chrome://zimbratb/skin/tasks.gif");
}

.ZimTB-FolderList
{
	width:150px;
}

.ZimTB-NewMessages
{
	width:22px;
	height:22px;
	-moz-border-radius:10px;
	border:solid 1px white;
	background-color:red;
	color:white;
	font-weight:bold;
	text-align:center;
	padding-top:2px;
	line-height:20px;
	font-size:12px;
}

.ZMTB-Search-Folder
{
	list-style-image: url("chrome://zimbratb/skin/newsaved.gif");
}

.ZMTB-ActionBar-Row
{
	height:32px
}

#ZimTB-ActionsBar textbox
{
	width:100px;
}

.ZimTB-Tag-Color-0
{
	list-style-image: url("chrome://zimbratb/skin/tagorange.gif");
}

.ZimTB-Tag-Color-1
{
	list-style-image: url("chrome://zimbratb/skin/tagblue.gif");
}

.ZimTB-Tag-Color-2
{
	list-style-image: url("chrome://zimbratb/skin/tagcyan.gif");
}

.ZimTB-Tag-Color-3
{
	list-style-image: url("chrome://zimbratb/skin/taggreen.gif");
}

.ZimTB-Tag-Color-4
{
	list-style-image: url("chrome://zimbratb/skin/tagpurple.gif");
}

.ZimTB-Tag-Color-5
{
	list-style-image: url("chrome://zimbratb/skin/tagred.gif");
}

.ZimTB-Tag-Color-6
{
	list-style-image: url("chrome://zimbratb/skin/tagyellow.gif");
}