.Imgtweetzi-panelIcon {
  background: transparent url("tweetzi_twitter.png") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.Imgtweetzi_twitterIcon {
  background: transparent url("tweetzi_twitter.png") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.Imgtweetzi_trendIcon {
  background: transparent url("chart_bar.png") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.Imgtweetzi_followMeIcon {
  background: transparent  url("tweetzi_followMe.png") no-repeat 0 0;
  width: 90px;
  height: 55px;
  overflow: hidden;
}

.Imgtweetzi_facebookIcon {
  background:  transparent url("tweetzi_fb.png") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.Imgtweetzi_unFollowIcon {
  background: transparent url("tweetzi_unfollow.png") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}


.Imgtweetzi_tweetMemeIcon {
  background:  transparent url("tweetzi_tweetmeme.png") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.Imgtweetzi_checkIcon {
  background: url("tweetzi_check.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}


.tweetzi_cardDiv{
background:#FFFFFC;
border-bottom:1px solid #6E6E6E;border-right:1px solid #6E6E6E;
}
.tweetzi_rowsDiv{
background:white;
border-bottom:1px solid #6E6E6E;
}
.tweetzi_FBCommentRow{
border-bottom:1px solid #6E6E6E;
}

.tweetzi_axnClass {
	font-size:16px;font-family:'Lucida Grande',sans-serif;
	overflow:auto;
	border-top:1px solid #B2B2B2; border-bottom:2px solid #6E6E6E; border-left:1px solid #B2B2B2;border-right:2px solid #6E6E6E;
	display:block;
	z-index:9001;

}
.tweetzi_searchColor {
	background-image:url(tweetzi_bkground.gif);
}

.tweetzi_tweetMemeBg {
	background-image:url(tweetzi_bkground.gif);
	height: 48px;
	width: 48px;
	font-size:16px;font-family:'Lucida Grande',sans-serif;
	font-weight:bold;
	color:white;
	border-top:1px solid #B2B2B2; border-bottom:2px solid #6E6E6E; border-left:1px solid #B2B2B2;border-right:2px solid #6E6E6E;
}

.tweetzi_tweetMemeRetweetBg {
	font-size:12px;font-family:'Lucida Grande',sans-serif;
	font-weight:bold;
	color:white;
	background:#00A854;
	border-top:1px solid #B2B2B2; border-bottom:2px solid #6E6E6E; border-left:1px solid #B2B2B2;border-right:2px solid #6E6E6E;
}
.tweetzi_accountBg {
	font-size:12px;font-family:'Lucida Grande',sans-serif;
	font-weight:bold;
	color:white;
	border-top:0px solid #B2B2B2; border-bottom:2px solid #6E6E6E; border-left:0px solid #B2B2B2;border-right:2px solid #6E6E6E;
}

.tweetzi_twitterCardsDiv {
	background:#E4E4E4;
	width:100%;
}
.tweetzi_profileInnerDiv {
	width:90%;
	height:100%;
	background-color:#ffffff;font-weight:bold;
	margin: 20px;
}
div.tweetzi_profileInnerDiv td {
 font-size:12px;font-family:'Lucida Grande',sans-serif;color:black;  font-weight:bold;
}
.tweetzi_twitterColor {
	background-image:url(tweetzi_twitterBg.gif);
}
.tweetzi_generalColor {
background-image:url(tweetzi_genrlhdr.png);
}

.tweetzi_facebookColor {
background-image:url(tweetzi_facebookHdr.gif);
}


.tweetzi_individualCardClass {
	font-weight:bold;
	font-size:16px;font-family:'Lucida Grande',sans-serif;
	overflow:auto;
	border-top:1px solid #B2B2B2; border-left:1px solid #B2B2B2; border-bottom:2px solid #6E6E6E;border-right:2px solid #6E6E6E;
	width: 400px;
    display:block;
	z-index:9000;
	position:relative;
}

.tweetzi_topWgtClass{
background-image:url(tweetzi_bkground.gif);
border-bottom:1px solid #6E6E6E;border-right:1px solid #6E6E6E;
}
.tweetzi_yellow{
background:#FFFFCC;
border-bottom:1px solid #6E6E6E;border-right:1px solid #6E6E6E;
}
.tweetzi_white{
background:#FFFFFF;
border-bottom:1px solid #6E6E6E;border-right:1px solid #6E6E6E;
}
.tweetzi_yellowBold{
background:#FFFFCC;
color:#3333FF;
font-weight:bold;
font-size:14px;font-family:'Lucida Grande',sans-serif;
border-bottom:1px solid #6E6E6E;border-right:1px solid #6E6E6E;
}


.tweetzi_steel{
	background-image:url(tweetzi_bkground.gif);
}

.tweetzi_topSxnClass{
background-image:url(tweetzi_bkground.gif);
border-bottom:1px solid #6E6E6E;border-right:1px solid #6E6E6E;
}

.tweetzi_unReadClass {
background:#FF0000;color:#FFFFFF;font-weight:bold;font-size:12px;border:1px solid white;
}