body {
	margin: 0;
	padding: 0;
}

body, td, div, p, a, span, input {
	font-family: arial, sans-serif;
	font-size: 12px;
}

button, .inputSubmit {
	font-family: arial, sans-serif;
	font-size: 11px;
}

select {
	font-family: arial, sans-serif;
	font-size: 12px;
	border: 1px solid #999999;
}

form {
	margin: 0;
}

.welcome {
	font-size: 16px;
	font-weight: bolder;
	padding-top: 6px;
}

.footer {
	color: #666666;
	font-size: 13px;
	text-align: center;
}

.footer-small, .footer-small :link, .footer-small :visited, .footer-small :active {
	font-size: 11px;
	color: #000000;
}

.copyright {
	color: rgb(68, 68, 68);
	font-size: 10px;
}

.cannotAccess, .cannotAccess :link, .cannotAccess :visited, .cannotAccess :active {
	padding-top: 15px;
	text-align: center;
	font-size: 10px;
}

.signup, .signup :link, .signup :visited, .signup :active {
	font-size: 16px;
	padding: 8px 0px 15px 0px;
	text-align: center;
	font-weight: bold;
}

.nowrap {
	white-space: nowrap;
}

.error {
	color :red;
}

.contentBody {
	padding: 5px;
}

.contentLogin {
	padding: 0px 30px;
	text-align: center;
}

.appLinks {
	padding: 0px 7px;
}
