# NGINX POP/IMAP proxy configuration file for use with Zimbra
# 

working_directory ${core.workdir};
include ${core.includes}/${core.cprefix}.main;
include ${core.includes}/${core.cprefix}.memcache;
include ${core.includes}/${core.cprefix}.zmlookup;
${mail.enabled}include ${core.includes}/${core.cprefix}.mail;
${web.enabled}include ${core.includes}/${core.cprefix}.web;

# Don't edit the below comment
