# POP3 proxy configuration
# 
server
{
    listen                  ${mail.pop3.port};
    protocol                pop3;
    proxy                   on;
    sasl_service_name       "pop";
    starttls                ${mail.pop3.tls};
}


