# NGINX POP/IMAP proxy configuration file for use with Zimbra
# 

working_directory ${core.workdir};
include conf/${core.includes}/${core.cprefix}.main;
include conf/${core.includes}/${core.cprefix}.memcache;
${mail.enabled} include conf/${core.includes}/${core.cprefix}.mail;
${web.enabled} include conf/${core.includes}/${core.cprefix}.web;

