.ImgRSS-panelIcon {
  background: url("rss.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.RSS-icon-right {
  background: url("rss.gif") no-repeat 100% 50%;
}
.dropcontent{
	display:none;
}
.bbcclass{
width: 155px;
padding: 1px;
background-color: lightyellow;

}

.rsstitle{ /*shared class for all title elements in an RSS feed*/
font: normal normal bold 8pt verdana;
color: blue;
cursor : pointer; 

}

.rssdate{ /*shared class for all date elements in an RSS feed*/
color: gray;
font-size: 80%;
}

.rssdescription{ /*shared class for all description elements in an RSS feed*/
font: normal normal normal 8pt verdana;
padding: 2px;

}


.loading{ /*shared class for all date elements in an RSS feed*/
color: red;
font: normal normal normal 10pt arial;
}

.Feed {
  overflow: hidden;
}
.FeedTitle {
  font-size: 1.1em;
  font-weight: bold;
}
.FeedDate {
  background-color: lightblue;
  border-bottom: solid 1px gray;
  font-style: italic;
}
.Feed .FeedTitle {
  display: none;
}
.Feed A {
  text-decoration: none;
}
.FeedItems {
  font-size: 0.8em;
  overflow: auto;
}
.FeedItem {
  border-bottom: solid 1px silver; 
}
.FeedItem .FeedTitle {
  display: block;
  font-weight: normal;
  margin-left: 0.5em;
  margin-right: 0.25em;
}
.FeedItem .FeedDesc {
  display: none;
  margin-left: 0.5em;
  font-size: 0.7em;
  overflow: hidden;
}
.FeedLine1 {
  /* nop */
}
.FeedLine2 {
  background-color: #eee;
}