.ImgPhoneSearchIcon {
  background: url("Search.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.ImgPhoneNewContactIcon {
  background: url("NewContact.gif")  no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.ImgPhoneCallIcon {
  background: url("Telephone.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}