.ImgPOCheck-Icon {
  background: url("Check.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.ImgPOCancel-Icon {
  background: url("Cancel.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.ImgPOViewFull-Icon {
  background: url("Task.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}