.ZmSpreadSheet { overflow: auto !important; }
.ZmSpreadSheet .InputField, .ZmSpreadSheet table { font: 8pt tahoma,verdana,sans-serif; }
.ZmSpreadSheet table { background-color: #bbb; color: #000; table-layout: fixed; }
.ZmSpreadSheet table td { background-color: #fff; color: #000; padding: 1px; width: 10em; }
.ZmSpreadSheet .TopBar td { padding: 0; }

.ZmSpreadSheet .TopBar .TopLeft { background: none; padding: 0; text-align: center; }
.ZmSpreadSheet .TopBar .TopLeft, .ZmSpreadSheet .LeftBar { padding: 0;
  width: 3em; cursor: default; -moz-user-select: none; user-select: none; }

.ZmSpreadSheet .TopBar div, .ZmSpreadSheet .LeftBar div {
  cursor: default; -moz-user-select: none; user-select: none;
  background-color: #e8e8e8; color: #000; border: 1px solid; border-color: #f5f5f5 #ddd #ddd #f5f5f5;
  text-align: center;
}

.ZmSpreadSheet td.Selected { border: 1px solid #888; padding: 0; }
.ZmSpreadSheet td.TopSelected div { background-color: #ccc; border-color: #fff; }
.ZmSpreadSheet td.LeftSelected div { background-color: #ccc; border-color: #fff; }

.ZmSpreadSheet .InputField { position: absolute; padding: 0 !important; border: 2px solid #000; }
.ZmSpreadSheet span.InputField { visibility: hidden; border: none; top: 0px; left: 0px; }
.ZmSpreadSheet .Wrapper { overflow: hidden; white-space: nowrap; }

.ZmSpreadSheet td.hasFormula { color: #555; background-color: #fafafa; }

.ZmSpreadSheet td.SpreadSheet-Type-number { text-align: right; font-family: monospace; }
.ZmSpreadSheet td.SpreadSheet-Type-currency { text-align: right; font-family: monospace; }
