.sms_cardDetailDiv{
background-image:url(sms_hdr.gif);
border-bottom:1px solid #A7A194;border-right:1px solid #A7A194;
}
.sms_cardHdrDiv{
background-image:url(sms_hdr.gif);
border-bottom:1px solid #A7A194;border-right:1px solid #A7A194;
}

.sms_mainDiv {
border-bottom:1px solid #A7A194;
}

.sms_hidden {
display:none
}
.sms_shown {
display:block
}