/* global skin ------------------------------------------------------------- */
@import url(chrome://global/skin/);

/* dialog skin ------------------------------------------------------------- */
row {
  -moz-box-align: center;
}
