.CriticalIcon32x32{background-image:url("/liquid/img/loRes/dwt.gif");left:-0;top:-0;width:32;height:32;}
.InformationIcon32x32{background-image:url("/liquid/img/loRes/dwt.gif");left:-0;top:-32;width:32;height:217;}
.WarningIcon32x32{background-image:url("/liquid/img/loRes/dwt.gif");left:-0;top:-64;width:32;height:217;}
.CascadeIcon{background-image:url("/liquid/img/loRes/dwt.gif");left:-0;top:-96;width:32;height:217;}
.NodeCollapsedIcon{background-image:url("/liquid/img/loRes/dwt.gif");left:-16;top:-96;width:32;height:217;}
.NodeExpandedIcon{background-image:url("/liquid/img/loRes/dwt.gif");left:-0;top:-112;width:32;height:217;}
.selectPullDownArrow{background-image:url("/liquid/img/loRes/dwt.gif");left:-0;top:-128;width:32;height:217;}
.selectPullDownArrowEnabled{background-image:url("/liquid/img/loRes/dwt.gif");left:-0;top:-144;width:32;height:217;}
.selectPullDownDepressed{background-image:url("/liquid/img/loRes/dwt.gif");left:-0;top:-160;width:32;height:217;}
.selectPullDownDis{background-image:url("/liquid/img/loRes/dwt.gif");left:-0;top:-176;width:32;height:217;}
.FastFwdIcon{background-image:url("/liquid/img/loRes/dwt.gif");left:-19;top:-176;width:32;height:217;}
.FastRevIcon{background-image:url("/liquid/img/loRes/dwt.gif");left:-0;top:-192;width:32;height:217;}
.FwdIcon{background-image:url("/liquid/img/loRes/dwt.gif");left:-10;top:-192;width:32;height:217;}
.MenuCheckIcon{background-image:url("/liquid/img/loRes/dwt.gif");left:-16;top:-192;width:32;height:217;}
.MenuRadioIcon{background-image:url("/liquid/img/loRes/dwt.gif");left:-0;top:-201;width:32;height:217;}
.RevIcon{background-image:url("/liquid/img/loRes/dwt.gif");left:-9;top:-201;width:32;height:217;}
.DropDownIcon{background-image:url("/liquid/img/loRes/dwt.gif");left:-15;top:-201;width:32;height:217;}
.DropDownIconDis{background-image:url("/liquid/img/loRes/dwt.gif");left:-23;top:-201;width:32;height:217;}
.ColumnDownArrow{background-image:url("/liquid/img/loRes/dwt.gif");left:-0;top:-210;width:32;height:217;}
.ColumnUpArrow{background-image:url("/liquid/img/loRes/dwt.gif");left:-8;top:-210;width:32;height:217;}
.ClosedTabTop{background-image:url("/liquid/img/loRes/horizborders.gif");left:-0;top:-0;width:500;height:21;}
.ClosedTabTop2{background-image:url("/liquid/img/loRes/horizborders.gif");left:-0;top:-7;width:500;height:21;}
.OpenTabTop{background-image:url("/liquid/img/loRes/horizborders.gif");left:-0;top:-14;width:500;height:21;}
