<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.zimbra.zdesktop</string>
        <key>ProgramArguments</key>
        <array>
                <string>@install@/zdesktop</string>
                <string>start</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>WorkingDirectory</key>
        <string>@install@/log</string>
        <key>StandardOutPath</key>
        <string>@install@/log/zdesktop.out</string>
        <key>StandardErrorPath</key>
        <string>@install@/log/zdesktop.err</string>
</dict>
</plist>
