[Desktop Entry]
Name=Yahoo! Zimbra Desktop
Type=Application
Comment=Web Application
Exec="@install@/linux/prism/prism" -webapp "@install@/zdesktop.webapp" -override "@install@/zdesktop.webapp/override.ini" -profile "@install@/profile"
Icon=@install@/zdesktop.webapp/icons/default/launcher.png
