<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
<array>
    <!--
    Color Space Names
    -->
	<string>_NSCalibratedWhiteColorSpace</string>
	<string>_NSCalibratedBlackColorSpace</string>
	<string>_NSCalibratedRGBColorSpace</string>
	<string>_NSDeviceWhiteColorSpace</string>
	<string>_NSDeviceBlackColorSpace</string>
	<string>_NSDeviceRGBColorSpace</string>
	<string>_NSDeviceCMYKColorSpace</string>
	<string>_NSNamedColorSpace</string>
	<string>_NSPatternColorSpace</string>
	<string>_NSCustomColorSpace</string>

    <!--
    Display Device-Descriptions
    -->
	<string>_NSDeviceResolution</string>
	<string>_NSDeviceColorSpaceName</string>
	<string>_NSDeviceBitsPerSample</string>
	<string>_NSDeviceIsScreen</string>
	<string>_NSDeviceIsPrinter</string>
	<string>_NSDeviceSize</string>

    <!--
    Nib Loading Keys
    -->
    <string>_NSNibOwner</string>
    <string>_NSNibTopLevelObjects</string>

    <!--
    NSAccessibility-Actions
    -->
    <string>_NSAccessibilityPressAction</string>
    <string>_NSAccessibilityIncrementAction</string>
    <string>_NSAccessibilityDecrementAction</string>
    <string>_NSAccessibilityConfirmAction</string>
    <string>_NSAccessibilityPickAction</string>
    <string>_NSAccessibilityCancelAction</string>
    <string>_NSAccessibilityRaiseAction</string>

    <!--
    NSAccessibility-Attributes
    -->
    <string>_NSAccessibilityRoleAttribute</string>
    <string>_NSAccessibilityRoleDescriptionAttribute</string>
    <string>_NSAccessibilitySubroleAttribute</string>
    <string>_NSAccessibilityHelpAttribute</string>
    <string>_NSAccessibilityTitleAttribute</string>
    <string>_NSAccessibilityValueAttribute</string>
    <string>_NSAccessibilityMinValueAttribute</string>
    <string>_NSAccessibilityMaxValueAttribute</string>
    <string>_NSAccessibilityEnabledAttribute</string>
    <string>_NSAccessibilityFocusedAttribute</string>
    <string>_NSAccessibilityParentAttribute</string>
    <string>_NSAccessibilityChildrenAttribute</string>
    <string>_NSAccessibilityWindowAttribute</string>
    <string>_NSAccessibilitySelectedChildrenAttribute</string>
    <string>_NSAccessibilityVisibleChildrenAttribute</string>
    <string>_NSAccessibilityPositionAttribute</string>
    <string>_NSAccessibilitySizeAttribute</string>
    <string>_NSAccessibilityContentsAttribute</string>
    <string>_NSAccessibilityPreviousContentsAttribute</string>
    <string>_NSAccessibilityNextContentsAttribute</string>
    <string>_NSAccessibilitySelectedTextAttribute</string>
    <string>_NSAccessibilitySelectedTextRangeAttribute</string>
    <string>_NSAccessibilityNumberOfCharactersAttribute</string>
    <string>_NSAccessibilityVisibleCharacterRangeAttribute</string>
    <string>_NSAccessibilityLineForIndexParameterizedAttribute</string>
    <string>_NSAccessibilityRangeForLineParameterizedAttribute</string>
    <string>_NSAccessibilityStringForRangeParameterizedAttribute</string>
    <string>_NSAccessibilityRangeForPositionParameterizedAttribute</string>
    <string>_NSAccessibilityRangeForIndexParameterizedAttribute</string>
    <string>_NSAccessibilityBoundsForRangeParameterizedAttribute</string>
    <string>_NSAccessibilityRTFForRangeParameterizedAttribute</string>
    <string>_NSAccessibilityStyleRangeForIndexParameterizedAttribute</string>
    <string>_NSAccessibilityMainAttribute</string>
    <string>_NSAccessibilityMinimizedAttribute</string>
    <string>_NSAccessibilityCloseButtonAttribute</string>
    <string>_NSAccessibilityZoomButtonAttribute</string>
    <string>_NSAccessibilityMinimizeButtonAttribute</string>
    <string>_NSAccessibilityToolbarButtonAttribute</string>
    <string>_NSAccessibilityProxyAttribute</string>
    <string>_NSAccessibilityGrowAreaAttribute</string>
    <string>_NSAccessibilityModalAttribute</string>
    <string>_NSAccessibilityDefaultButtonAttribute</string>
    <string>_NSAccessibilityCancelButtonAttribute</string>
    <string>_NSAccessibilityMenuBarAttribute</string>
    <string>_NSAccessibilityWindowsAttribute</string>
    <string>_NSAccessibilityFrontmostAttribute</string>
    <string>_NSAccessibilityHiddenAttribute</string>
    <string>_NSAccessibilityMainWindowAttribute</string>
    <string>_NSAccessibilityFocusedWindowAttribute</string>
    <string>_NSAccessibilityFocusedUIElementAttribute</string>
    <string>_NSAccessibilityHeaderAttribute</string>
    <string>_NSAccessibilityEditedAttribute</string>
    <string>_NSAccessibilityTabsAttribute</string>
    <string>_NSAccessibilityTitleUIElementAttribute</string>
    <string>_NSAccessibilityHorizontalScrollBarAttribute</string>
    <string>_NSAccessibilityVerticalScrollBarAttribute</string>
    <string>_NSAccessibilityOverflowButtonAttribute</string>
    <string>_NSAccessibilityIncrementButtonAttribute</string>
    <string>_NSAccessibilityDecrementButtonAttribute</string>
    <string>_NSAccessibilityFilenameAttribute</string>
    <string>_NSAccessibilityExpandedAttribute</string>
    <string>_NSAccessibilitySelectedAttribute</string>
    <string>_NSAccessibilityColumnTitlesAttribute</string>
    <string>_NSAccessibilitySearchButtonAttribute</string>
    <string>_NSAccessibilitySearchMenuAttribute</string>
    <string>_NSAccessibilityClearButtonAttribute</string>
    <string>_NSAccessibilitySplittersAttribute</string>
    <string>_NSAccessibilityDocumentAttribute</string>
    <string>_NSAccessibilityOrientationAttribute</string>
    <string>_NSAccessibilityRowsAttribute</string>
    <string>_NSAccessibilityVisibleRowsAttribute</string>
    <string>_NSAccessibilitySelectedRowsAttribute</string>
    <string>_NSAccessibilityColumnsAttribute</string>
    <string>_NSAccessibilityVisibleColumnsAttribute</string>
    <string>_NSAccessibilitySelectedColumnsAttribute</string>
    <string>_NSAccessibilitySortDirectionAttribute</string>
    <string>_NSAccessibilityDisclosingAttribute</string>
    <string>_NSAccessibilityDisclosedRowsAttribute</string>
    <string>_NSAccessibilityDisclosedByRowAttribute</string>

    <!--
    NSAccessibility-Exception Error Code Key
    -->
    <string>_NSAccessibilityErrorCodeExceptionInfo</string>

    <!--
    NSAccessibility-Orientations
    -->
    <string>_NSAccessibilityHorizontalOrientationValue</string>
    <string>_NSAccessibilityVerticalOrientationValue</string>

    <!--
    NSAccessibility-Roles
    -->
    <string>_NSAccessibilityUnknownRole</string>
    <string>_NSAccessibilityButtonRole</string>
    <string>_NSAccessibilityRadioButtonRole</string>
    <string>_NSAccessibilityCheckBoxRole</string>
    <string>_NSAccessibilitySliderRole</string>
    <string>_NSAccessibilityTabGroupRole</string>
    <string>_NSAccessibilityTextFieldRole</string>
    <string>_NSAccessibilityStaticTextRole</string>
    <string>_NSAccessibilityTextAreaRole</string>
    <string>_NSAccessibilityScrollAreaRole</string>
    <string>_NSAccessibilityPopUpButtonRole</string>
    <string>_NSAccessibilityMenuButtonRole</string>
    <string>_NSAccessibilityTableRole</string>
    <string>_NSAccessibilityApplicationRole</string>
    <string>_NSAccessibilityGroupRole</string>
    <string>_NSAccessibilityRadioGroupRole</string>
    <string>_NSAccessibilityListRole</string>
    <string>_NSAccessibilityScrollBarRole</string>
    <string>_NSAccessibilityValueIndicatorRole</string>
    <string>_NSAccessibilityImageRole</string>
    <string>_NSAccessibilityMenuBarRole</string>
    <string>_NSAccessibilityMenuRole</string>
    <string>_NSAccessibilityMenuItemRole</string>
    <string>_NSAccessibilityColumnRole</string>
    <string>_NSAccessibilityRowRole</string>
    <string>_NSAccessibilityToolbarRole</string>
    <string>_NSAccessibilityBusyIndicatorRole</string>
    <string>_NSAccessibilityProgressIndicatorRole</string>
    <string>_NSAccessibilityWindowRole</string>
    <string>_NSAccessibilityDrawerRole</string>
    <string>_NSAccessibilitySystemWideRole</string>
    <string>_NSAccessibilityOutlineRole</string>
    <string>_NSAccessibilityIncrementorRole</string>
    <string>_NSAccessibilityBrowserRole</string>
    <string>_NSAccessibilityComboBoxRole</string>
    <string>_NSAccessibilitySplitGroupRole</string>
    <string>_NSAccessibilitySplitterRole</string>
    <string>_NSAccessibilityColorWellRole</string>
    <string>_NSAccessibilityGrowAreaRole</string>
    <string>_NSAccessibilitySheetRole</string>

    <!--
    NSAccessibility-Subroles
    -->
    <string>_NSAccessibilityUnknownSubrole</string>
    <string>_NSAccessibilityCloseButtonSubrole</string>
    <string>_NSAccessibilityZoomButtonSubrole</string>
    <string>_NSAccessibilityMinimizeButtonSubrole</string>
    <string>_NSAccessibilityToolbarButtonSubrole</string>
    <string>_NSAccessibilityTableRowSubrole</string>
    <string>_NSAccessibilityOutlineRowSubrole</string>
    <string>_NSAccessibilitySecureTextFieldSubrole</string>
    <string>_NSAccessibilityStandardWindowSubrole</string>
    <string>_NSAccessibilityDialogSubrole</string>
    <string>_NSAccessibilitySystemDialogSubrole</string>
    <string>_NSAccessibilityFloatingWindowSubrole</string>
    <string>_NSAccessibilitySystemFloatingWindowSubrole</string>
    <string>_NSAccessibilityIncrementArrowSubrole</string>
    <string>_NSAccessibilityDecrementArrowSubrole</string>
    <string>_NSAccessibilityIncrementPageSubrole</string>
    <string>_NSAccessibilityDecrementPageSubrole</string>
    <string>_NSAccessibilitySearchFieldSubrole</string>

    <!--
    NSAttributedString-Attributes
    -->
    <string>_NSFontAttributeName</string>
    <string>_NSParagraphStyleAttributeName</string>
    <string>_NSForegroundColorAttributeName</string>
    <string>_NSUnderlineStyleAttributeName</string>
    <string>_NSSuperscriptAttributeName</string>
    <string>_NSBackgroundColorAttributeName</string>
    <string>_NSAttachmentAttributeName</string>
    <string>_NSLigatureAttributeName</string>
    <string>_NSBaselineOffsetAttributeName</string>
    <string>_NSKernAttributeName</string>
    <string>_NSLinkAttributeName</string>
    <string>_NSStrokeWidthAttributeName</string>
    <string>_NSStrokeColorAttributeName</string>
    <string>_NSUnderlineColorAttributeName</string>
    <string>_NSStrikethroughStyleAttributeName</string>
    <string>_NSStrikethroughColorAttributeName</string>
    <string>_NSShadowAttributeName</string>
    <string>_NSObliquenessAttributeName</string>
    <string>_NSExpansionAttributeName</string>
    <string>_NSCursorAttributeName</string>
    <string>_NSToolTipAttributeName</string>

    <!--
    NSAttributedString-Character Shape Attribute
    -->
    <string>_NSCharacterShapeAttributeName</string>
    
    <!--
    NSAttributedString-Document Type
    -->
    <string>_NSPlainTextDocumentType</string>
    <string>_NSRTFTextDocumentType</string>
    <string>_NSRTFDTextDocumentType</string>
    <string>_NSMacSimpleTextDocumentType</string>
    <string>_NSHTMLTextDocumentType</string>
    <string>_NSDocFormatTextDocumentType</string>
    <string>_NSWordMLTextDocumentType</string>

    <!--
    NSAttributedString-Glyph Info Attribute
    -->
    <string>_NSGlyphInfoAttributeName</string>
    
    <!--
    NSBitmapImageRep-Attributes
    -->
    <string>_NSImageCompressionMethod</string>
    <string>_NSImageCompressionFactor</string>
    <string>_NSImageDitherTransparency</string>
    <string>_NSImageRGBColorTable</string>
    <string>_NSImageInterlaced</string>
    <string>_NSImageColorSyncProfileData</string>
    <string>_NSImageFrameCount</string>
    <string>_NSImageCurrentFrame</string>
    <string>_NSImageCurrentFrameDuration</string>
    <string>_NSImageLoopCount</string>
    
    <!--
    NSFont-Keys to the AFM Dictionary
    -->
    <string>_NSAFMFamilyName</string>
    <string>_NSAFMFontName</string>
    <string>_NSAFMFormatVersion</string>
    <string>_NSAFMFullName</string>
    <string>_NSAFMNotice</string>
    <string>_NSAFMVersion</string>
    <string>_NSAFMWeight</string>
    <string>_NSAFMEncodingScheme</string>
    <string>_NSAFMCharacterSet</string>
    <string>_NSAFMCapHeight</string>
    <string>_NSAFMXHeight</string>
    <string>_NSAFMAscender</string>
    <string>_NSAFMDescender</string>
    <string>_NSAFMUnderlinePosition</string>
    <string>_NSAFMUnderlineThickness</string>
    <string>_NSAFMItalicAngle</string>
    <string>_NSAFMMappingScheme</string>
    
    <!--
    NSFontDescriptor-Font Attributes
    -->
    <string>_NSFontFamilyAttribute</string>
    <string>_NSFontNameAttribute</string>
    <string>_NSFontFaceAttribute</string>
    <string>_NSFontSizeAttribute</string>
    <string>_NSFontVisibleNameAttribute</string>
    <string>_NSFontColorAttribute</string>

    <!--
    NSGraphicsContext - Attributes
    -->
    <string>_NSGraphicsContextDestinationAttributeName</string>
    <string>_NSGraphicsContextRepresentationFormatAttributeName</string>
    <string>_NSGraphicsContextPSFormat</string>
    <string>_NSGraphicsContextPDFFormat</string>
    
    <!--
    NSInterfaceStyleDefault
    -->
    <string>_NSInterfaceStyleDefault</string>
    
    <!--
    NSPasteboard-Names
    -->
    <string>_NSGeneralPboard</string>
    <string>_NSFontPboard</string>
    <string>_NSRulerPboard</string>
    <string>_NSFindPboard</string>
    <string>_NSDragPboard</string>
    
    <!--
    NSPasteboard-Types for Sound Data
    -->
    <string>_NSSoundPboardType</string>
    
    <!--
    NSPasteboard-Types for Standard Data
    -->
    <string>_NSStringPboardType</string>
    <string>_NSFilenamesPboardType</string>
    <string>_NSPostScriptPboardType</string>
    <string>_NSTIFFPboardType</string>
    <string>_NSRTFPboardType</string>
    <string>_NSTabularTextPboardType</string>
    <string>_NSFontPboardType</string>
    <string>_NSRulerPboardType</string>
    <string>_NSFileContentsPboardType</string>
    <string>_NSColorPboardType</string>
    <string>_NSRTFDPboardType</string>
    <string>_HTMLPboardType</string>
    <string>_NSPICTPboardType</string>
    <string>_NSURLPboardType</string>
    <string>_NSPDFPboardType</string>
    <string>_NSVCardPboardType</string>
    <string>_NSFilesPromisePboardType</string>

    <!--
    NSPrintInfo-Dictionary Keys
    -->
    <string>_NSPrintPaperName</string>
    <string>_NSPrintPaperSize</string>
    <string>_NSPrintMustCollate</string>
    <string>_NSPrintOrientation</string>
    <string>_NSPrintLeftMargin</string>
    <string>_NSPrintRightMargin</string>
    <string>_NSPrintTopMargin</string>
    <string>_NSPrintBottomMargin</string>
    <string>_NSPrintHorizontallyCentered</string>
    <string>_NSPrintVerticallyCentered</string>
    <string>_NSPrintHorizontalPagination</string>
    <string>_NSPrintVerticalPagination</string>
    <string>_NSPrintScalingFactor</string>
    <string>_NSPrintAllPages</string>
    <string>_NSPrintReversePageOrder</string>
    <string>_NSPrintFirstPage</string>
    <string>_NSPrintLastPage</string>
    <string>_NSPrintCopies</string>
    <string>_NSPrintPrinter</string>
    <string>_NSPrintJobDisposition</string>
    <string>_NSPrintSavePath</string>
    <string>_NSPrintSpoolJob</string>
    <string>_NSPrintPreviewJob</string>
    <string>_NSPrintSaveJob</string>
    <string>_NSPrintCancelJob</string>
    <!-- The following keys are deprecated: -->
    <string>_NSPrintFormName</string>
    <string>_NSPrintJobFeatures</string>
    <string>_NSPrintManualFeed</string>
    <string>_NSPrintPagesPerSheet</string>
    <string>_NSPrintPaperFeed</string>
    <string>_NSPrintFaxReceiverNames</string>
    <string>_NSPrintFaxReceiverNumbers</string>
    <string>_NSPrintFaxSendTime</string>
    <string>_NSPrintFaxUseCoverSheet</string>
    <string>_NSPrintFaxCoverSheetName</string>
    <string>_NSPrintFaxReturnReceipt</string>
    <string>_NSPrintFaxHighResolution</string>
    <string>_NSPrintFaxTrimPageEnds</string>
    <string>_NSPrintFaxModem</string>
    <string>_NSPrintFaxJob</string>

    <!--
    NSPrintPanel-Job Style Hints
    -->
    <string>_NSPrintPhotoJobStyleHint</string>

    <!--
    NSRunLoop-Modes
    -->
    <string>_NSModalPanelRunLoopMode</string>
    <string>_NSEventTrackingRunLoopMode</string>
    
    <!--
    NSSpeechSynthesizer-Voice Attributes
    -->
    <string>_NSVoiceName</string>
    <string>_NSVoiceIdentifier</string>
    <string>_NSVoiceAge</string>
    <string>_NSVoiceGender</string>
    <string>_NSVoiceDemoText</string>
    <string>_NSVoiceLanguage</string>

    <!--
    NSSpeechSynthesizer-Voice Genders
    -->
    <string>_NSVoiceGenderNeuter</string>
    <string>_NSVoiceGenderMale</string>
    <string>_NSVoiceGenderFemale</string>

    <!--
    NSTabColumnTerminatorsAttributeName
    -->
    <string>_NSTabColumnTerminatorsAttributeName</string>

    <!--
    NSToolbarItem-Standard Identifiers
    -->
    <string>_NSToolbarSeparatorItemIdentifier</string>
    <string>_NSToolbarSpaceItemIdentifier</string>
    <string>_NSToolbarFlexibleSpaceItemIdentifier</string>
    <string>_NSToolbarShowColorsItemIdentifier</string>
    <string>_NSToolbarShowFontsItemIdentifier</string>
    <string>_NSToolbarCustomizeToolbarItemIdentifier</string>
    <string>_NSToolbarPrintItemIdentifier</string>
    
    <!--
    NSWorkspace-File Operation Constants
    -->
    <string>_NSWorkspaceMoveOperation</string>
    <string>_NSWorkspaceCopyOperation</string>
    <string>_NSWorkspaceLinkOperation</string>
    <string>_NSWorkspaceCompressOperation</string>
    <string>_NSWorkspaceDecompressOperation</string>
    <string>_NSWorkspaceEncryptOperation</string>
    <string>_NSWorkspaceDecryptOperation</string>
    <string>_NSWorkspaceDestroyOperation</string>
    <string>_NSWorkspaceRecycleOperation</string>
    <string>_NSWorkspaceDuplicateOperation</string>
    
    <!--
    NSWorkspace-File Types
    -->
    <string>_NSPlainFileType</string>
    <string>_NSDirectoryFileType</string>
    <string>_NSApplicationFileType</string>
    <string>_NSFilesystemFileType</string>
    <string>_NSShellCommandFileType</string>
    
    <!-- Notifications -->

    <!--
    NSAccessibility-Notification Names
    -->
    <string>_NSAccessibilityMainWindowChangedNotification</string>
    <string>_NSAccessibilityFocusedUIElementChangedNotification</string>
    <string>_NSAccessibilityApplicationActivatedNotification</string>
    <string>_NSAccessibilityApplicationDeactivatedNotification</string>
    <string>_NSAccessibilityApplicationHiddenNotification</string>
    <string>_NSAccessibilityApplicationShownNotification</string>
    <string>_NSAccessibilityWindowCreatedNotification</string>
    <string>_NSAccessibilityWindowMovedNotification</string>
    <string>_NSAccessibilityWindowResizedNotification</string>
    <string>_NSAccessibilityWindowMiniaturizedNotification</string>
    <string>_NSAccessibilityWindowDeminiaturizedNotification</string>
    <string>_NSAccessibilityValueChangedNotification</string>
    <string>_NSAccessibilityUIElementDestroyedNotification</string>
    <string>_NSAccessibilityDrawerCreatedNotification</string>
    <string>_NSAccessibilitySheetCreatedNotification</string>

    <!--
    NSApplication Notification Names
    -->
    <string>_NSApplicationDidBecomeActiveNotification</string>
    <string>_NSApplicationDidFinishLaunchingNotification</string>
    <string>_NSApplicationDidHideNotification</string>
    <string>_NSApplicationDidResignActiveNotification</string>
    <string>_NSApplicationDidUnhideNotification</string>
    <string>_NSApplicationDidUpdateNotification</string>
    <string>_NSApplicationWillBecomeActiveNotification</string>
    <string>_NSApplicationWillFinishLaunchingNotification</string>
    <string>_NSApplicationWillHideNotification</string>
    <string>_NSApplicationWillResignActiveNotification</string>
    <string>_NSApplicationWillUnhideNotification</string>
    <string>_NSApplicationWillUpdateNotification</string>
    <string>_NSApplicationWillTerminateNotification</string>
    <string>_NSApplicationDidChangeScreenParametersNotification</string>
    
    <!--
    NSBrowser Notification Names
    -->
    <string>_NSBrowserColumnConfigurationDidChangeNotification</string>

    <!--
    NSCell Notification Names
    -->
    <string>_NSControlTintDidChangeNotification</string>
    
    <!--
    NSColor Notification Names
    -->
    <string>_NSSystemColorsDidChangeNotification</string>
    
    <!--
    NSColorList Notification Names
    -->
    <string>_NSColorListDidChangeNotification</string>
    
    <!--
    NSColorPanel Notification Names
    -->
    <string>_NSColorPanelColorDidChangeNotification</string>
    
    <!--
    NSComboBox Notification Names
    -->
    <string>_NSComboBoxWillPopUpNotification</string>
    <string>_NSComboBoxWillDismissNotification</string>
    <string>_NSComboBoxSelectionDidChangeNotification</string>
    <string>_NSComboBoxSelectionIsChangingNotification</string>
    
    <!--
    NSControl Notification Names
    -->
    <string>_NSControlTextDidBeginEditingNotification</string>
    <string>_NSControlTextDidEndEditingNotification</string>
    <string>_NSControlTextDidChangeNotification</string>
    
    <!--
    NSDrawer Notification Names
    -->
    <string>_NSDrawerWillOpenNotification</string> 
    <string>_NSDrawerDidOpenNotification</string>
    <string>_NSDrawerWillCloseNotification</string>
    <string>_NSDrawerDidCloseNotification</string>
    
    <!--
    NSHelpManager Notification Names
    -->
    <string>_NSContextHelpModeDidActivateNotification</string>
    <string>_NSContextHelpModeDidDeactivateNotification</string>
    
    <!--
    NSImageRep Notification Names
    -->
    <string>_NSImageRepRegistryDidChangeNotification</string>
    
    <!--
    NSMenu Notification Names
    -->
    <string>_NSMenuWillSendActionNotification</string>
    <string>_NSMenuDidSendActionNotification</string>
    <string>_NSMenuDidAddItemNotification</string>
    <string>_NSMenuDidRemoveItemNotification</string>
    <string>_NSMenuDidChangeItemNotification</string>
    
    <!--
    NSOutlineView Notification Names
    -->
    <string>_NSOutlineViewSelectionDidChangeNotification</string> 
    <string>_NSOutlineViewColumnDidMoveNotification</string>
    <string>_NSOutlineViewColumnDidResizeNotification</string>
    <string>_NSOutlineViewSelectionIsChangingNotification</string>
    <string>_NSOutlineViewItemWillExpandNotification</string>
    <string>_NSOutlineViewItemDidExpandNotification</string>
    <string>_NSOutlineViewItemWillCollapseNotification</string>
    <string>_NSOutlineViewItemDidCollapseNotification</string>
    
    <!--
    NSPopUpButton Notification Names
    -->
    <string>_NSPopUpButtonWillPopUpNotification</string>
    
    <!--
    NSPopUpButtonCell Notification Names
    -->
    <string>_NSPopUpButtonCellWillPopUpNotification</string>
    
    <!--
    NSSplitView Notification Names
    -->
    <string>_NSSplitViewDidResizeSubviewsNotification</string>
    <string>_NSSplitViewWillResizeSubviewsNotification</string>
    
    <!--
    NSTableView Notification Names
    -->
    <string>_NSTableViewSelectionDidChangeNotification</string>
    <string>_NSTableViewColumnDidMoveNotification</string>
    <string>_NSTableViewColumnDidResizeNotification</string>
    <string>_NSTableViewSelectionIsChangingNotification</string>
    
    <!--
    NSText Notification Names
    -->
    <string>_NSTextDidBeginEditingNotification</string>
    <string>_NSTextDidEndEditingNotification</string>
    <string>_NSTextDidChangeNotification</string>
    
    <!--
    NSTextStorage Notification Names
    -->
    <string>_NSTextStorageWillProcessEditingNotification</string>
    <string>_NSTextStorageDidProcessEditingNotification</string>
    
    <!--
    NSTextView Notification Names
    -->
    <string>_NSTextViewWillChangeNotifyingTextViewNotification</string>
    <string>_NSTextViewDidChangeSelectionNotification</string>
    <string>_NSTextViewDidChangeTypingAttributesNotification</string>
    
    <!--
    NSToolbar Notification Names
    -->
    <string>_NSToolbarWillAddItemNotification</string>
    <string>_NSToolbarDidRemoveItemNotification</string>
    
    <!--
    NSView Notification Names
    -->
    <string>_NSViewFrameDidChangeNotification</string>
    <string>_NSViewFocusDidChangeNotification</string>
    <string>_NSViewBoundsDidChangeNotification</string>
    <string>_NSViewGlobalFrameDidChangeNotification</string>
    
    <!--
    NSWindow Notification Names
    -->
    <string>_NSWindowDidBecomeKeyNotification</string>
    <string>_NSWindowDidBecomeMainNotification</string>
    <string>_NSWindowDidChangeScreenNotification</string>
    <string>_NSWindowDidDeminiaturizeNotification</string>
    <string>_NSWindowDidExposeNotification</string>
    <string>_NSWindowDidMiniaturizeNotification</string>
    <string>_NSWindowDidMoveNotification</string>
    <string>_NSWindowDidResignKeyNotification</string>
    <string>_NSWindowDidResignMainNotification</string>
    <string>_NSWindowDidResizeNotification</string>
    <string>_NSWindowDidUpdateNotification</string>
    <string>_NSWindowWillCloseNotification</string>
    <string>_NSWindowWillMiniaturizeNotification</string>
    <string>_NSWindowWillMoveNotification</string>
    <string>_NSWindowWillBeginSheetNotification</string>
    <string>_NSWindowDidEndSheetNotification</string>
    
    <!--
    NSWorkspace Notification Names
    -->
    <string>_NSWorkspaceDidLaunchApplicationNotification</string>
    <string>_NSWorkspaceDidMountNotification</string>
    <string>_NSWorkspaceDidPerformFileOperationNotification</string>
    <string>_NSWorkspaceDidTerminateApplicationNotification</string>
    <string>_NSWorkspaceDidUnmountNotification</string>
    <string>_NSWorkspaceWillLaunchApplicationNotification</string>
    <string>_NSWorkspaceWillPowerOffNotification</string>
    <string>_NSWorkspaceWillUnmountNotification</string>
    
    <!-- Exceptions -->

    <!--
    Application Kit Exception Names
    -->
    <string>_NSTextLineTooLongException</string>
    <string>_NSTextNoSelectionException</string>
    <string>_NSWordTablesWriteException</string>
    <string>_NSWordTablesReadException</string>
    <string>_NSTextReadException</string>
    <string>_NSTextWriteException</string>
    <string>_NSPasteboardCommunicationException</string>
    <string>_NSPrintingCommunicationException</string>
    <string>_NSAbortModalException</string>
    <string>_NSAbortPrintingException</string>
    <string>_NSIllegalSelectorException</string>
    <string>_NSAppKitVirtualMemoryException</string>
    <string>_NSBadRTFDirectiveException</string>
    <string>_NSBadRTFFontTableException</string>
    <string>_NSBadRTFStyleSheetException</string>
    <string>_NSTypedStreamVersionException</string>
    <string>_NSTIFFException</string>
    <string>_NSPrintPackageException</string>
    <string>_NSBadRTFColorTableException</string>
    <string>_NSDraggingException</string>
    <string>_NSColorListIOException</string>
    <string>_NSColorListNotEditableException</string>
    <string>_NSBadBitmapParametersException</string>
    <string>_NSWindowServerCommunicationException</string>
    <string>_NSFontUnavailableException</string>
    <string>_NSPPDIncludeNotFoundException</string>
    <string>_NSPPDParseException</string>
    <string>_NSPPDIncludeStackOverflowException</string>
    <string>_NSPPDIncludeStackUnderflowException</string>
    <string>_NSRTFPropertyStackOverflowException</string>
    <string>_NSAppKitIgnoredException</string>
    <string>_NSBadComparisonException</string>
    <string>_NSImageCacheException</string>
    <string>_NSNibLoadingException</string>
    <string>_NSBrowserIllegalDelegateException</string>
    <string>_NSAccessibilityException</string>

    <!--
    NSPrintOperation Exception Names
    -->
    <string>_NSPrintOperationExistsException</string>
    
</array>
</plist>
