<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
<array>
    <!--
    File Attribute Keys
    -->
    <string>_NSFileType</string>
    <string>_NSFileSize</string>
    <string>_NSFileModificationDate</string>
    <string>_NSFileReferenceCount</string>
    <string>_NSFileDeviceIdentifier</string>
    <string>_NSFileOwnerAccountNumber</string>
    <string>_NSFileGroupOwnerAccountNumber</string>
    <string>_NSFilePosixPermissions</string>
    <string>_NSFileSystemFileNumber</string>
    <string>_NSFileExtensionHidden</string>
    <string>_NSFileHFSCreatorCode</string>
    <string>_NSFileHFSTypeCode</string>
    <string>_NSFileImmutable</string>
    <string>_NSFileAppendOnly</string>
    <string>_NSFileCreationDate</string>
    <string>_NSFileOwnerAccountID</string>
    <string>_NSFileGroupOwnerAccountID</string>

	<!--
	File System Attribute Keys
	-->
	<string>_NSFileSystemSize</string>
	<string>_NSFileSystemFreeSize</string>
	<string>_NSFileSystemNodes</string>
	<string>_NSFileSystemFreeNodes</string>
    <string>_NSFileSystemNumber</string>

    <!--
    File Type Attribute Keys
    -->
    <string>_NSFileTypeDirectory</string>
    <string>_NSFileTypeRegular</string>
    <string>_NSFileTypeSymbolicLink</string>
    <string>_NSFileTypeSocket</string>
    <string>_NSFileTypeCharacterSpecial</string>
    <string>_NSFileTypeBlockSpecial</string>
    <string>_NSFileTypeUnknown</string>

    <!--
    HTTP Cookie Property Keys
    -->
    <string>_NSHTTPCookieComment</string>
    <string>_NSHTTPCookieCommentURL</string>
    <string>_NSHTTPCookieDiscard</string>
    <string>_NSHTTPCookieDomain</string>
    <string>_NSHTTPCookieExpires</string>
    <string>_NSHTTPCookieMaximumAge</string>
    <string>_NSHTTPCookieName</string>
    <string>_NSHTTPCookieOriginURL</string>
    <string>_NSHTTPCookiePath</string>
    <string>_NSHTTPCookiePort</string>
    <string>_NSHTTPCookieSecure</string>
    <string>_NSHTTPCookieValue</string>
    <string>_NSHTTPCookieVersion</string>

    <!--
    Key Value Change Keys
    -->
    <string>_NSKeyValueChangeKindKey</string>
    <string>_NSKeyValueChangeNewKey</string>
    <string>_NSKeyValueChangeOldKey</string>
    <string>_NSKeyValueChangeIndexesKey</string>

	<!--
	Language-Dependent Date/Time Information
	-->
	<string>_NSWeekDayNameArray</string>
	<string>_NSShortWeekDayNameArray</string>
	<string>_NSMonthNameArray</string>
	<string>_NSShortMonthNameArray</string>
	<string>_NSTimeFormatString</string>
	<string>_NSDateFormatString</string>
	<string>_NSTimeDateFormatString</string>
	<string>_NSShortTimeDateFormatString</string>
	<string>_NSAMPMDesignation</string>
	<string>_NSHourNameDesignations</string>
	<string>_NSYearMonthWeekDesignations</string>
	<string>_NSEarlierTimeDesignations</string>
	<string>_NSLaterTimeDesignations</string>
	<string>_NSThisDayDesignations</string>
	<string>_NSNextDayDesignations</string>
	<string>_NSNextNextDayDesignations</string>
	<string>_NSPriorDayDesignations</string>
	<string>_NSDateTimeOrdering</string>
	<string>_NSShortDateFormatString</string>

	<!--
	Language-Dependent Numeric Information
	-->
	<string>_NSCurrencySymbol</string>
	<string>_NSDecimalSeparator</string>
	<string>_NSThousandsSeparator</string>
	<string>_NSInternationalCurrencyString</string>
	<string>_NSPositiveCurrencyFormatString</string>
	<string>_NSNegativeCurrencyFormatString</string>
	<string>_NSDecimalDigits</string>

	<!--
	NSConnectionReplyMode
	-->
	<string>_NSConnectionReplyMode</string>

	<!--
	NSDefaultRunLoopMode
	-->
	<string>_NSDefaultRunLoopMode</string>

    <!--
    NSError userInfo Keys
    -->
    <string>_NSLocalizedDescriptionKey</string>
    <string>_NSUnderlyingErrorKey</string>

    <!--
    NSError Error Domains
    -->
    <string>_NSPOSIXErrorDomain</string>
    <string>_NSOSStatusErrorDomain</string>
    <string>_NSMachErrorDomain</string>
    <string>_NSURLErrorDomain</string>

    <!--
    NSError URL Key
    -->
    <string>_NSErrorFailingURLStringKey</string>

	<!--
	NSJavaSetup Information
	-->
	<string>_NSJavaClasses</string>
	<string>_NSJavaRoot</string>
	<string>_NSJavaPath</string>
	<string>_NSJavaUserPath</string>
	<string>_NSJavaLibraryPath</string>
	<string>_NSJavaOwnVirtualMachine</string>
	<string>_NSJavaPathSeparator</string>

	<!--
	NSLocalNotificationCenterType
	-->
	<string>_NSLocalNotificationCenterType</string>

    <!--
    NSLocalizedDescriptionKey
    -->
    <string>_NSLocalizedDescriptionKey</string>

    <!--
    NSNetServices Errors
    -->
    <string>_NSNetServicesErrorCode</string>
    <string>_NSNetServicesErrorDomain</string>

    <!--
    NSStream Error Domains
    -->
    <string>_NSStreamSocketSSLErrorDomain</string>
    <string>_NSStreamSOCKSErrorDomain</string>

    <!--
    NSStream Property Keys
    -->
    <string>_NSStreamSocketSecurityLevelKey</string>
    <string>_NSStreamSocketSecurityLevelNone</string>
    <string>_NSStreamSocketSecurityLevelSSLv2</string>
    <string>_NSStreamSocketSecurityLevelSSLv3</string>
    <string>_NSStreamSocketSecurityLevelTLSv1</string>
    <string>_NSStreamSocketSecurityLevelNegotiatedSSL</string>
    <string>_NSStreamSOCKSProxyConfigurationKey</string>
    <string>_NSStreamSOCKSProxyHostKey</string>
    <string>_NSStreamSOCKSProxyPortKey</string>
    <string>_NSStreamSOCKSProxyVersionKey</string>
    <string>_NSStreamSOCKSProxyUserKey</string>
    <string>_NSStreamSOCKSProxyPasswordKey</string>
    <string>_NSStreamSOCKSProxyVersion4</string>
    <string>_NSStreamSOCKSProxyVersion5</string>
    <string>_NSStreamDataWrittenToMemoryStreamKey</string>
    <string>_NSStreamFileCurrentOffsetKey</string>

    <!--
    NSUnknownKeyException userInfo Keys
    -->
    <string>_NSTargetObjectUserInfoKey</string>
    <string>_NSUnknownUserInfoKey</string>

	<!--
	NSURL Schemes
	-->
	<string>_NSURLFileScheme</string>

    <!--
    NSURLHandle FTP Property Keys
    -->
    <string>_NSFTPPropertyUserLoginKey</string>
    <string>_NSFTPPropertyUserPasswordKey</string>
    <string>_NSFTPPropertyActiveTransferModeKey</string>
    <string>_NSFTPPropertyFileOffsetKey</string>
    <string>_NSFTPPropertyFTPProxy</string>

	<!--
	NSURLHandle HTTP Property Keys
	-->
	<string>_NSHTTPPropertyStatusCodeKey</string>
	<string>_NSHTTPPropertyStatusReasonKey</string>
	<string>_NSHTTPPropertyServerHTTPVersionKey</string>
	<string>_NSHTTPPropertyRedirectionHeadersKey</string>
	<string>_NSHTTPPropertyErrorPageDataKey</string>
    <string>_NSHTTPPropertyHTTPProxy</string>

    <!--
    NSURLProtectionSpace Authentication Methods
    -->
    <string>_NSURLAuthenticationMethodDefault</string>
    <string>_NSURLAuthenticationMethodHTTPBasic</string>
    <string>_NSURLAuthenticationMethodHTTPDigest</string>
    <string>_NSURLAuthenticationMethodHTMLForm</string>

    <!--
    NSURLProtectionSpace Proxy Types
    -->
    <string>_NSURLProtectionSpaceHTTPProxy</string>
    <string>_NSURLProtectionSpaceHTTPSProxy</string>
    <string>_NSURLProtectionSpaceFTPProxy</string>
    <string>_NSURLProtectionSpaceSOCKSProxy</string>

	<!--
	NSUserDefaults Domains
	-->
	<string>_NSGlobalDomain</string>
	<string>_NSArgumentDomain</string>
	<string>_NSRegistrationDomain</string>

    <!--
    NSValueTransformer Transformer Names
    -->
    <string>_NSNegateBooleanTransformerName</string>
    <string>_NSIsNilTransformerName</string>
    <string>_NSIsNotNilTransformerName</string>
    <string>_NSUnarchiveFromDataTransformerName</string>

    <!--
    NSXMLParserErrorDomain
    -->
    <string>_NSXMLParserErrorDomain</string>

    <!-- Notifications -->

	<!--
	Java Setup Notification Names
	-->
	<string>_NSJavaWillSetupVirtualMachineNotification</string>
	<string>_NSJavaDidSetupVirtualMachineNotification</string>
	<string>_NSJavaWillCreateVirtualMachineNotification</string>
	<string>_NSJavaDidCreateVirtualMachineNotification</string>

	<!--
	NSAppleEventManager Notification Names
	-->
	<string>_NSAppleEventManagerWillProcessFirstEventNotification</string>

	<!--
	NSBundle Notification Names
	-->
	<string>_NSBundleDidLoadNotification</string>

	<!--
	NSClassDescription Notification Names
	-->
	<string>_NSClassDescriptionNeededForClassNotification</string>

	<!--
	NSConnection Notification Names
	-->
	<string>_NSConnectionDidDieNotification</string>
	<string>_NSConnectionDidInitializeNotification</string>

	<!--
	NSFileHandle Notification Names
	-->
	<string>_NSFileHandleReadCompletionNotification</string>
	<string>_NSFileHandleReadToEndOfFileCompletionNotification</string>
	<string>_NSFileHandleConnectionAcceptedNotification</string>
	<string>_NSFileHandleDataAvailableNotification</string>

    <!--
    NSHTTPCookieStorage Notification Names
    -->
    <string>_NSHTTPCookieManagerAcceptPolicyChangedNotification</string>
    <string>_NSHTTPCookieManagerCookiesChangedNotification</string>

	<!--
	NSPort Notification Names
	-->
	<string>_NSPortDidBecomeInvalidNotification</string>

	<!--
	NSTask Notification Names
	-->
	<string>_NSTaskDidTerminateNotification</string>

	<!--
	NSThread Notification Names
	-->
	<string>_NSWillBecomeMultiThreadedNotification</string>
	<string>_NSDidBecomeSingleThreadedNotification</string>
	<string>_NSThreadWillExitNotification</string>

	<!--
	NSUndoManager Notification Names
	-->
	<string>_NSUndoManagerCheckpointNotification</string>
	<string>_NSUndoManagerWillUndoChangeNotification</string>
	<string>_NSUndoManagerWillRedoChangeNotification</string>
	<string>_NSUndoManagerDidUndoChangeNotification</string>
	<string>_NSUndoManagerDidRedoChangeNotification</string>
	<string>_NSUndoManagerDidOpenUndoGroupNotification</string>
	<string>_NSUndoManagerWillCloseUndoGroupNotification</string>

    <!--
    NSURLCredentialStorage Notification Names
    -->
    <string>_NSURLCredentialStorageChangedNotification</string>

	<!--
	NSUserDefaults Notification Names
	-->
	<string>_NSUserDefaultsDidChangeNotification</string>

    <!-- Exceptions -->

	<!--
	Archiving Exception Names
	-->
	<string>_NSInconsistentArchiveException</string>

	<!--
	Connection Exception Names
	-->
	<string>_NSFailedAuthenticationException</string>

	<!--
	General Exception Names
	-->
	<string>_NSGenericException</string>
	<string>_NSRangeException</string>
	<string>_NSInvalidArgumentException</string>
	<string>_NSInternalInconsistencyException</string>
	<string>_NSMallocException</string>
	<string>_NSObjectInaccessibleException</string>
	<string>_NSObjectNotAvailableException</string>
	<string>_NSDestinationInvalidException</string>
	<string>_NSPortTimeoutException</string>
	<string>_NSInvalidSendPortException</string>
	<string>_NSInvalidReceivePortException</string>
	<string>_NSPortSendException</string>
	<string>_NSPortReceiveException</string>
	<string>_NSOldStyleException</string>

    <!--
    Key Value Coding Exception Names
    -->
    <string>_NSUnknownKeyException</string>

    <!--
    Keyed Archiving Exception Names
    -->
    <string>_NSInvalidArchiveOperationException</string>
    <string>_NSInvalidUnarchiveOperationException</string>

	<!--
	NSDecimalNumber Exception Names
	-->
	<string>_NSDecimalNumberExactnessException</string>
	<string>_NSDecimalNumberOverflowException</string>
	<string>_NSDecimalNumberUnderflowException</string>
	<string>_NSDecimalNumberDivideByZeroException</string>

	<!--
	NSFileHandle Exception Names
	-->
	<string>_NSFileHandleOperationException</string>

	<!--
	NSScriptKeyValueCoding Exception Names
	-->
	<string>_NSOperationNotSupportedForKeyException</string>

	<!--
	NSString Handling Exception Names
	-->
	<string>_NSParseErrorException</string>
	<string>_NSCharacterConversionException</string>

</array>
</plist>
