<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>CamelBones</string>
	<key>CFBundleIdentifier</key>
	<string>org.dot-app.CamelBones</string>
	<key>CFBundleVersion</key>
	<string>0.3.0</string>
	<key>CFBundleShortVersionString</key>
	<string>CamelBones 0.3.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleExecutable</key>
	<string>CamelBones</string>
	<key>CFBundleGetInfoString</key>
	<string>CamelBones, Copyright 2005 Sherm Pendley</string>
</dict>
</plist>
