.ImgYahoo-panelIcon {
  background: url("y.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.ImgGoogle-panelIcon {
  background: url("g.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.ImgAmazon-panelIcon {
  background: url("a.jpg") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.ImgWiki-panelIcon {
  background: url("w.jpg") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
