.Imgskinpreviewer-panelIcon {
  background: url("skinpreviewer-icon.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.skinpreviewer_skinMenuDiv {
  background:#FFFFCC;
  border-bottom:1px solid #A7A194;
  border-right:1px solid #A7A194;
  padding: 5px;
  font-weight: bold;
}

.skinpreviewer_skinMenuSelect {
  width: 225px;
}