.ImgArcade-panelIcon {
  background: url("arcade-icon.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.ImgAsteroids-panelIcon {
  background: url("asteroids-icon.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.ImgFrogger-panelIcon {
  background: url("frogger-icon.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.ImgHexxagon-panelIcon {
  background: url("hexxagon-icon.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.ImgInvaders-panelIcon {
  background: url("invaders-icon.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.ImgPacman-panelIcon {
  background: url("pacman-icon.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.ImgSimon-panelIcon {
  background: url("simon-icon.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.ImgSnake-panelIcon {
  background: url("snake-icon.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.ImgTetris-panelIcon {
  background: url("tetris-icon.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.ImgTictactoe-panelIcon {
  background: url("tictactoe-icon.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
