.ImgReminder-panelIcon {
  background: url("reminder.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.ImgReminder-settingsIcon {
  background: url("settings.png") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.ImgReminder-reloadIcon {
  background: url("reload.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}