.ImgYLogo {
	background: url("ylogo.gif") no-repeat 0 0;
	width: 16px;
	height: 16px;
	overflow: hidden;
}

.ImgULogo {
	background: url("ulogo.png") no-repeat 0 0;
	width: 16px;
	height: 16px;
	overflow: hidden;
};
