.ImgGoogle-Icon {
  background: url("google.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.ImgWikipedia-Icon {
  background: url("wikipedia.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.ImgYahoo-Icon {
  background: url("yahoo.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
