
.ImgClick2CallPhoneHangupBtn {
	background: url("img/phoneHangup.png") no-repeat 0 0;
	width: 16px;
	height: 16px;
	overflow: hidden;
}

.ImgClick2Call-maximize-icon {
    background: transparent url("img/maximize.png") no-repeat 0 0;
    width: 16px;
    height: 16px;
    overflow: hidden;
}

.ImgClick2Call-minimize-icon {
    background: transparent url("img/minimize.gif") no-repeat 0 0;
    width: 16px;
    height: 16px;
    overflow: hidden;
}