<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleExecutable</key>
  <string>xulrunner</string>
  <key>NSAppleScriptEnabled</key>
  <true/>
  <key>CFBundleGetInfoString</key>
  <string>Zimbra Desktop @version@</string>
  <key>CFBundleName</key>
  <string>Zimbra Desktop</string>
  <key>CFBundleShortVersionString</key>
  <string>@version@</string>
  <key>CFBundleVersion</key>
  <string>@build@</string>
  <key>CFBundleIconFile</key>
  <string>launcher_128x128.icns</string>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>webapp</string>
      </array>
      <key>LSIsAppleDefaultForType</key>
      <true/>
    </dict>
  </array>
</dict>
</plist>
