.AboutZimlet_input {
	font-weight: bold !important;
	text-align: center !important;
	padding: 4px !important;
	background-color: #5C5C5C !important;
	color: white !important;
	width: 320px !important;
	border: 0 none !important;
	cursor: text !important;
}

.AboutZimlet_textarea {
	resize: none !important;
	font-size: 8px !important;
	padding: 4px !important;
	text-align: center !important;
	background-color: #5C5C5C !important;
	color: white !important;
	width: 300px !important;
	border: 0 none !important;
}

.AboutZimlet_background {
	background-color: #5C5C5C !important;
	color: white !important;
	align: center !important;
	text-align: center !important;
}