.ImgWEBEX-panelIcon {
  background: url("webex.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.WEBEX-icon-right {
  background: url("webex.gif") no-repeat 100% 50%;
}

.WX_START_MTG 
{
	background: url("webExBt_start.jpg") no-repeat 0 0;
	background-position: center center;
	cursor: hand;
	width: 17px;
}

.WX_MTGLIST_TITLE
{
	background-color: #666666;
	font-family: arial,sans-serif; 
	font-size: 11px; 
	line-height: 13px; 
	color: #FFFFEE;
	text-align: center;
}

.WX_MTGLIST
{
	background-color: #FFFFEE;
	font-family: arial,sans-serif; 
	font-weight: 500; 
	font-size: 11px; 
	line-height: 13px; 
	color: #666666;
	text-align: center;
}

.WX_MTGLIST_INPROGRESS
{
	background-color: #FFFFEE;
	font-family: arial,sans-serif; 
	font-weight: 500; 
	font-size: 11px; 
	line-height: 13px; 
	color: #008000;
	text-align: center;
}

.WX_MTGLIST_SPACER
{
	background-image: url(mtglist_spacer.gif);
	background-repeat: repeat-x;
	height: 12px;
}

.WX_MTGLIST_SPACER_BOTTOM
{
	background-color: #666666;
	height: 2px;
}

.WX_BANNER
{
	background-image: url(logo_webex.jpg);
	width: 539px;
	height: 57px;
}



.WX_CREATEMTG
{
	background-color: #FFFFEE;
	font-family: arial,sans-serif; 
	font-weight: 500; 
	font-size: 11px; 
	line-height: 13px; 
	color: #666666;
	text-align: left;
}

.WX_CREATEMTG_LABEL
{
	background-color: #FFFFEE;
	font-family: arial,sans-serif; 
	font-weight: 500; 
	font-size: 11px; 
	line-height: 13px; 
	color: #666666;
	text-align: right;
}


.WX_CREATEMTG_CTRL
{
	border-width: 1px;
	border-color: #CCCCCC;
	border-style: solid;
	background-color: #FFFFFF;
	font-family: arial,sans-serif; 
	font-weight: 500; 
	font-size: 11px; 	
	color: #666666;
	text-align: left;
}

.WX_CREATEMTG_PWCTRL
{
	border-width: 1px;
	border-color: #CCCCCC;
	border-style: solid;
	background-color: #FFFFFF;
	color: #666666;
	text-align: left;
}
