.ImgYCURRENCY-panelIcon {
  background: url("ycurrency.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.YCURRENCY-icon-right {
  background: url("ycurrency.gif") no-repeat 100% 50%;
}
