.video-panel {
    position: relative;
	padding: 10px;
	background: none repeat scroll 0 0 #E3E9F0;
}

.youTubeImagePreview {
   padding: 5px 5px 5px 5px;
   background-color: black;
   display: inline-block;
}

.thumb-wrapper {
position:relative;
float: left;
}

.play {
position:absolute;
float: left;
top: 30px;
left: 35px;
width: 58;
height: 41;
z-index: 100;
background: transparent url(play_youtube.png) no-repeat;
}

.movie-player {
clear: both;
}