.Imgrssfeeds-panelIcon {
  background: url("rssfeeds.gif") no-repeat 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.rssf_sectionDiv{
background:#FFFFFF;
border-bottom:1px solid #A7A194;border-right:1px solid #A7A194;
}
.rssf_HdrDiv{
background:#000066;
color:#FFFFFF;
border-bottom:1px solid #A7A194;border-right:1px solid #A7A194;
font-size:200%;
}